<main>
  <div class="main-container shadow rounded">
    <h3 class='mt-4'>User's Information</h3>
    <div id="alerts">
      <ngb-alert [type]='alertType' class="feeAlert" *ngIf="studentAlert" (close)="studentAlert = false">{{ studentMessage }}</ngb-alert>
    </div>
    <div class="user-options">
      <div id="search">
        <p class="options">Search By:</p>
        <div class="custom-options">
          <select class="custom-select my-1 mr-sm-2 select-search" id="search-select" style="box-shadow: none;" name="search" [(ngModel)]="searchOptionCategory">
            <option value="name">Name</option>
            <option value="phoneNumber">Phone</option>
            <option value="email">Email</option>
          </select>
          <input class="form-control mb-2 mr-sm-2 form-control-sm input-search" style="box-shadow: none;" type="text" [(ngModel)]="searchOptionInfo">
          <button type="button" class="btn btn-raised btn-search" style="box-shadow: none;" (click)="clearSearch()"><i class="fas fa-backspace"></i></button>
        </div>
      </div>
      <div class="buttons-search-student">
        <button *ngIf="userAdmin" type="button" class="btn btn-raised btn-main btn-x" data-toggle="modal" data-target="#newEntry"><i class="fas fa-plus-square"></i> New User</button>
        <button *ngIf="userAdmin" type="button" class="btn btn-raised btn-edit btn-enable" (click)="enableEdit()"><i class="fas fa-edit"></i> {{enableMessage}}</button>
      </div>
    </div>
    <div id="user-table-group">
      <div class="user-table">
        <table id="dtBasicExample" class="table" width="100%">
          <thead>
            <tr>
              <ng-container *ngFor="let element of tableTitles">
                <th class="th-sm">
                  {{element}}
                </th>
              </ng-container>
              <ng-container *ngIf="userAdmin">
                <th class="th-sm">
                  Check Fee
                </th>
              </ng-container>
              <ng-container *ngIf="userAdmin">
                <ng-container *ngIf="edit">
                  <th class="th-sm">
                    Edit
                  </th>
                  <th class="th-sm">
                    Delete
                  </th>
                </ng-container>
              </ng-container>
            </tr>
          </thead>
          <tbody id="user-info">
            <tr *ngFor="let element of studentArray">
              <ng-container>
                <td>{{element.id_students}}</td>
                <td *ngIf="userAdmin">{{element.password}}</td>
                <td>{{element.first_name}} {{element.last_name}}</td>
                <td>{{element.status === 'true' ? 'Active' : 'Not Active'}}</td>
                <td>{{element.phone_number | convertToNoData}}</td>
                <td *ngIf="userAdmin">{{element.email}}</td>
                <ng-container *ngIf="userAdmin">
                  <td><button class="btn" data-toggle="modal" (click)="selectedStudent(element)" data-target="#fee"><i class="far fa-credit-card"></i></button></td>
                </ng-container>
                <ng-container *ngIf="userAdmin">
                  <ng-container *ngIf="edit">
                    <td><button class="btn" data-toggle="modal" (click)="selectedStudent(element)" data-target="#edit"><i class="fas fa-edit" id="special-edit"></i></button></td>
                    <td><button class="btn" data-toggle="modal" (click)="selectedStudent(element)" data-target="#delete"><i class="fas fa-trash"></i></button></td>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between user-pagination mt-4">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="8">8 items per page</option>
        </select>
      </div>
    </div>
  </div>
</main>

  <!-- The Modal -->
  <div class="modal custom-modal" id="newEntry">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal-size">
          <!-- Modal Header -->
          <div class="custom-modal-head">
              <h6 class="modal-title">New Entry</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form name="newEntry" [formGroup]="userForm" #newUserForm="ngForm" (ngSubmit)="postStudent(userForm)">
            <!-- Modal body -->
            <div class="custom-modal-body">
              <span>User</span>
              <hr style="margin: 5px 0; font-size: 13px;">
              <div class="form-group mb-4">
                <div class="issues alter alert-danger mt-3" [hidden]="!newUserForm.submitted || userForm.valid">
                  <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
                </div>
                <label class="mb-1 mr-2" for="pass">Password <span class="required-asterisk">*</span></label>
                <input formControlName="password" type="password" id="pass"
                [ngClass]="{'field-error': userForm.get('password').invalid && newUserForm.submitted ? true : false}"
                class="form-control" autocomplete="current-password">
                <div class="name-group">
                  <div>
                    <label class="mb-1 mr-2" for="firstName">First Name <span class="required-asterisk">*</span></label>
                    <input formControlName="first_name" type="text" class="form-control"
                    [ngClass]="{'field-error': userForm.get('first_name').invalid && newUserForm.submitted ? true : false}"
                    id="firstName">
                  </div>
                  <div class="ml-3">
                    <label class="mb-1 mr-2" for="lastName">Last Name <span class="required-asterisk">*</span></label>
                    <input formControlName="last_name" type="text"
                    [ngClass]="{'field-error': userForm.get('last_name').invalid && newUserForm.submitted ? true : false}"
                    class="form-control" id="lastName">
                  </div>
                </div>
                <label class="my-1 mr-2">Type <span class="required-asterisk">*</span></label>
                <div class="available-student">
                  <div formControlName="type" class="btn-group btn-group-toggle available-options" id="user-type" ngbRadioGroup name="radioBasic">
                    <label for="typeTrueNew" ngbButtonLabel class="custom-radio" style="box-shadow: none;"
                    [ngClass]="{'btn-enable': userForm.get('type').value === 'true', 'btn-second': userForm.get('type').value === 'false'}">
                      <input name="type" ngbButton type="radio" value="true" id="typeTrueNew"> Admin
                    </label>
                    <label for="typeFalseNew" ngbButtonLabel class="custom-radio" style="box-shadow: none;"
                    [ngClass]="{'btn-enable': userForm.get('type').value === 'false', 'btn-second': userForm.get('type').value === 'true'}">
                      <input name="type" ngbButton type="radio" value="false" id="typeFalseNew"> User
                    </label>
                  </div>
                </div>
                <label class="mb-1 mr-2" for="phoneNumber">Phone Number <span class="required-asterisk">*</span></label>
                <input formControlName="phone_number"
                [ngClass]="{'field-error': userForm.get('phone_number').invalid && newUserForm.submitted ? true : false}"
                id="phoneNumber" type="tel" class="form-control">
                <label class="mb-1 mr-2" for="email">Email <span class="required-asterisk">*</span></label>
                <input formControlName="email"
                [ngClass]="{'field-error': userForm.get('email').invalid && newUserForm.submitted ? true : false}"
                id="email" type="email" class="form-control">
              </div>
            </div>
            <!-- Modal footer -->
            <div class="custom-modal-footer" >
              <button type="submit" (click)="newUserForm.onSubmit(undefined);" class="btn btn-main" [attr.data-dismiss]="userForm.valid && newUserForm.submitted ? 'modal' : null">Yes, add</button>
              <button type="button" class="btn btn-cancel ml-3" data-dismiss="modal">No, cancel</button>
            </div>
          </form>
        </div>
    </div>
  </div>

    <!-- The Modal -->
    <div class="modal custom-modal" id="fee">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content custom-modal-size">
            <!-- Modal Header -->
            <div class="custom-modal-head">
              <h6 class="modal-title">Check Fee</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="custom-modal-body">
              <span>{{selectedStudentInfo.first_name}} {{selectedStudentInfo.last_name}} Fee's</span>
              <hr style="margin: 5px 0; font-size: 13px;">
              <div class="fee-body">
                <ngb-alert [dismissible]='false' [type]='alertType' class="feeAlert" *ngIf="feeStatus" (close)="feeStatus = false">{{ feeMessage }}.</ngb-alert>
                <ngb-alert [type]='alertType' class="feeAlert" *ngIf="paymentAlert" (close)="paymentAlert = false">{{ paymentMessage }}</ngb-alert>
                <ng-container *ngFor="let element of feeArray">
                  <ngb-alert [dismissible]='false' type='info' *ngIf="fee" (close)="fee = false" class="feeAlert">
                    <span style="margin: 0 5px">Payed date: {{ element.payed_day | convertToPending }}.</span>
                    <span style="margin: 0 5px">Fee: {{ element.fee_amount | currency:'USD':'symbol':'1.0-0' }}.</span>
                    <button *ngIf="!element.payed_day" id="feeButton" class="btn btn-main" data-toggle="modal" (click)="payNow(element)">
                      Pay Now
                    </button>
                  </ngb-alert>
                </ng-container>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="custom-modal-footer-nb" [ngClass]="{'special-footer': pendingFee ? true : false }">
              <button *ngIf="pendingFee" class="btn btn-enable" data-toggle="modal" data-target="#pay">
                Pay All {{ dueAmount | currency:'USD':'symbol':'1.0-0' }}
              </button>
              <button type="button" class="btn btn-cancel" data-dismiss="modal">No, Cancel</button>
            </div>
          </div>
      </div>
    </div>

  <!-- The Modal -->
  <div class="modal custom-modal" id="pay">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal-size">
          <!-- Modal Header -->
          <div class="custom-modal-head">
            <h6 class="modal-title">Payment</h6>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body modal-body-custom">
            <span>Make a payment of {{dueAmount | currency:"USD"}}</span>
            <hr style="margin: 5px 0; font-size: 13px;">
            <div id="payment-methods">
              <i class="fab fa-cc-visa"></i>
              <i class="fab fa-cc-mastercard"></i>
              <i class="fab fa-cc-paypal"></i>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="custom-modal-footer">
            <button type="button" (click)="payAll(selectedStudentInfo)" class="btn btn-main" data-dismiss="modal">Yes, confirm</button>
            <button type="button" class="btn btn-cancel ml-3" data-dismiss="modal">No, cancel</button>
          </div>
        </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal custom-modal" id="delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal-size">
          <!-- Modal Header -->
          <div class="custom-modal-head">
            <h6 class="modal-title">Delete Entry</h6>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="custom-modal-body-delete">
            <hr style="margin: 5px 0 10px; font-size: 13px;">
            <span>Are you sure you want to delete the student <strong>{{selectedStudentInfo.first_name}} {{selectedStudentInfo.last_name}}</strong>?
              Note that this can not be undone.
            </span>
          </div>
          <!-- Modal footer -->
          <div class="custom-modal-footer-nb">
            <button type="button" (click)="deleteStudent(selectedStudentInfo.id_students)" class="btn btn-cancel" data-dismiss="modal">Yes, delete</button>
            <button type="button" class="btn btn-second ml-3" data-dismiss="modal">No, cancel</button>
          </div>
        </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal custom-modal" id="edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal-size">
          <!-- Modal Header -->
          <div class="custom-modal-head">
            <h6 class="modal-title">Edit Entry</h6>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <form>
            <div class="custom-modal-body">
              <span>User</span>
              <hr style="margin: 5px 0; font-size: 13px;">
              <div class="form-group mb-4">
                <label class="mb-1 mr-2" for="Epass">Password</label>
                <input type="password" [(ngModel)]="selectedStudentInfo.password" autocomplete="current-password" class="form-control" name="password" id="Epass">
                <div class="name-group">
                  <div>
                    <label class="mb-1 mr-2" for="EfirstName">First Name</label>
                    <input type="text" [(ngModel)]="selectedStudentInfo.first_name" class="form-control" name="first_name" id="EfirstName">
                  </div>
                  <div class="ml-3">
                    <label class="mb-1 mr-2" for="ElastName">Last Name</label>
                    <input type="text" [(ngModel)]="selectedStudentInfo.last_name" class="form-control" name="last_name" id="ElastName">
                  </div>
                </div>
                <div class="name-group">
                  <div class="name-group-size">
                    <label class="mb-1 mr-2">Status</label>
                    <div class="btn-group btn-group-toggle available-options" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedStudentInfo.status">
                      <label for="EstatusTrue" ngbButtonLabel class="custom-radio" style="box-shadow: none;"
                      [ngClass]="{'btn-enable': selectedStudentInfo.status === 'true', 'btn-second': selectedStudentInfo.status === 'false'}">
                        <input name="status" ngbButton type="radio" value="true" id="EstatusTrue"> Active
                      </label>
                      <label for="EstatusFalse" ngbButtonLabel class="custom-radio" style="box-shadow: none;"
                      [ngClass]="{'btn-enable': selectedStudentInfo.status === 'false', 'btn-second': selectedStudentInfo.status === 'true'}">
                        <input name="status" ngbButton type="radio" value="false" id="EstatusFalse"> Inactive
                      </label>
                    </div>
                  </div>
                  <div class="name-group-size ml-3">
                    <label class="mb-1 mr-2">Type</label>
                    <div class="btn-group btn-group-toggle available-options" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedStudentInfo.type">
                      <label for="TypeTrue" ngbButtonLabel class="custom-radio" style="box-shadow: none;"
                      [ngClass]="{'btn-enable': selectedStudentInfo.type === 'true', 'btn-second': selectedStudentInfo.type === 'false'}">
                        <input name="type" ngbButton type="radio" value="true" id="TypeTrue"> Admin
                      </label>
                      <label for="TypeFalse" ngbButtonLabel class="custom-radio" style="box-shadow: none;"
                      [ngClass]="{'btn-enable': selectedStudentInfo.type === 'false', 'btn-second': selectedStudentInfo.type === 'true'}">
                        <input name="type" ngbButton type="radio" value="false" id="TypeFalse"> User
                      </label>
                    </div>
                  </div>
                </div>
                <label class="mb-1 mr-2" for="EphoneNumber">Phone Number</label>
                <input [(ngModel)]="selectedStudentInfo.phone_number" name="phone_number" id="EphoneNumber" type="tel" class="form-control">
                <label class="mb-1 mr-2" for="Eemail">Email</label>
                <input [(ngModel)]="selectedStudentInfo.email" name="email" id="Eemail" type="email" class="form-control">
              </div>
            </div>
          <!-- Modal footer -->
              <div class="custom-modal-footer">
                <button (click)="updateStudent(selectedStudentInfo)" type="button" class="btn btn-main" data-dismiss="modal">Yes, edit</button>
                <button type="button" class="btn btn-cancel ml-3" data-dismiss="modal">No, cancel</button>
              </div>
            </form>
        </div>
    </div>
  </div>
