@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  width: 100%;
}

footer > p:first-child {
  font-size: 12px;
  margin: 10px 0 10px 0;
}

footer > p:last-child {
  font-size: 10px;
  text-align: center;
  width: 95%;
  margin: 5px 0 10px 0;
}

#social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 180px;
}

#social-container > a > img {
  height: 25px;
  width: 25px;
  border-radius: 3px;
}

.custom-nav-bc {
  background-color: #002d5d;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {

  #social-container {
    width: 35%;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {

  #social-container {
    width: 30%;
  }
}

