<footer class="navbar navbar-expand-lg navbar-dark bg-dark">
  <p>Follow me on:</p>
  <div id="social-container">
      <a href="https://www.facebook.com/ming.hsiehlo"><img src="assets/img/facebook.png" alt="Facebook Logo"></a>
      <a href="https://www.linkedin.com/in/ming-hsieh-lo/"><img src="assets/img/Linkedin.png" alt="Linkedin Logo"></a>
      <a href="https://www.instagram.com/minghsiehlo/"><img src="assets/img/Insta.png" alt="Instagram Logo"></a>
      <a href="https://github.com/MingHsiehLo/"><img src="assets/img/github.png" alt="Github Logo"></a>
  </div>
  <p>2020 Ming Hsieh Lo. Pictures are property of their respective owners.</p>
</footer>
