h4 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}


.chart {
  height: 65vh;
  width: 65vw;
  margin: 0 auto;
}

.cursor {
  cursor: pointer;
}

.chart-group {
  margin: 20px auto;
}

main {
  margin: 0 auto;
  display: flex;
}

.main-container {
  margin: 20px auto;
  width: 80%;
  max-width: 1400px;
  background-color: white;
}

.graph-container {
  width: 85%;
  margin: 0 auto;
}

a {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

a:not(.active-style){
  color: rgb(156, 156, 156);
}

.active-style {
  font-family: 'Raleway', sans-serif;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .main-container {
    width: 95%;
  }

  .chart {
    height: 50vh;
    width: 90vw;
  }

  .chart-group {
    margin: 35px auto;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  .chart {
    height: 65vh;
    width: 85vw;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


}

/* Super Long Screens */
@media only screen and (min-height: 769px) {


}
