<main>
  <div class="main-container shadow rounded">
    <div class="custom-back">
      <button type="button" style="box-shadow: none;" class="btn btn-raised" routerLink="/books"><i class="fas fa-arrow-left"></i><span>Back to Books</span></button>
    </div>
    <h3>Author's Information</h3>
    <div class="user-options">
      <div id="searchS">
        <p class="options">Search By Name:</p>
        <div class="custom-options">
          <input style="box-shadow: none;" class="form-control my-1 form-control-sm select-search" type="text" [(ngModel)]="searchOptionInfo">
          <button type="button" style="box-shadow: none;" class="btn btn-raised btn-search" (click)="clearSearch()"><i class="fas fa-backspace"></i></button>
        </div>
      </div>
      <div class="buttons-search-student">
        <button *ngIf="userAdmin" type="button" class="btn btn-raised btn-main btn-author btn-x" data-toggle="modal" data-target="#newAuthor"><i class="fas fa-plus-square"></i> New Author</button>
      </div>
    </div>
    <div>
      <div id="alerts">
        <ngb-alert [type]='alertType' class="feeAlert" *ngIf="authorAlert" (close)="authorAlert = false">{{ authorMessage }}</ngb-alert>
      </div>
      <div class="author-table mb-5">
        <table id="dtBasicExample" class="table" width="100%">
          <thead>
            <tr>
              <ng-container *ngFor="let element of tableTitles">
                <th class="th-sm">
                  {{element}}
                </th>
              </ng-container>
              <ng-container *ngIf="userAdmin">
                <th class="th-sm">
                  Edit
                </th>
                <th class="th-sm">
                  Delete
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody id="user-info">
            <tr *ngFor="let element of requestResult, index as i">
              <ng-container>
                <td>{{i+1}}</td>
                <td>{{element.lastName}}</td>
                <td>{{element.firstName}}</td>
                <ng-container *ngIf="userAdmin">
                  <td><button class="btn" data-toggle="modal" (click)="selectedAuthor(element)" data-target="#edit"><i class="fas fa-edit" id="special-edit"></i></button></td>
                  <td><button class="btn" data-toggle="modal" (click)="selectedAuthor(element)" data-target="#delete"><i class="fas fa-trash"></i></button></td>
                </ng-container>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<!-- The Modal -->
<div class="modal custom-modal" id="newAuthor" style="overflow-y: auto;" >
  <div class="modal-dialog">
      <div class="modal-content custom-modal-size">
          <!-- Modal Header -->
          <div class="custom-modal-head">
              <h6 class="modal-title">New Entry</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form name="newAuthor" #authorForm="ngForm" (ngSubmit)="postAuthor(authorForm)">
                          <!-- Modal body -->
              <div class="custom-modal-body">
                <span>Author</span>
                <hr style="margin: 5px 0; font-size: 13px;">
                <div class="form-group mb-4">
                  <div class="issues alter alert-danger" [hidden]="!authorForm.submitted || authorForm.valid">
                    <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
                  </div>
                  <label for="newAuthorFirstName">Author's First Name <span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control" name="firstName" id="pnewAuthorFirstName"
                  #pFirstNameField="ngModel"
                  [ngClass]="{'field-error': pFirstNameField.invalid && authorForm.submitted ? true : false}"
                  [(ngModel)]="postAuthorInfo.firstName" required>
                  <label for="newAuthorLastName">Author's Last Name <span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control" name="lastName" id="pnewAuthorLastName"
                  #pLastNameField="ngModel"
                  [ngClass]="{'field-error': pLastNameField.invalid && authorForm.submitted ? true : false}"
                  [(ngModel)]="postAuthorInfo.lastName" required>
                </div>
              </div>
              <!-- Modal footer -->
              <div class="custom-modal-footer">
                <button type="submit" (click)="authorForm.onSubmit(undefined);" class="btn btn-main" [attr.data-dismiss]="authorForm.valid ? 'modal' : null">Yes, add</button>
                <button type="button" class="btn btn-cancel ml-3" data-dismiss="modal">No, cancel</button>
              </div>
          </form>
      </div>
  </div>
</div>

  <!-- The Modal -->
  <div class="modal custom-modal" id="delete">
    <div class="modal-dialog">
        <div class="modal-content custom-modal-size">

            <!-- Modal Header -->
            <div class="custom-modal-head">
              <h6 class="modal-title">Delete Entry</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="custom-modal-body-delete">
              <hr style="margin: 5px 0 10px; font-size: 13px;">
              <span>
                Are you sure want to delete the author <strong>{{selectedAuthorInfo.firstName}} {{selectedAuthorInfo.lastName}}</strong>?
                Note that this can not be undone.
              </span>
            </div>

            <!-- Modal footer -->
            <div class="custom-modal-footer-nb">
              <button type="button" class="btn btn-cancel" data-dismiss="modal" (click)="deleteAuthor(selectedAuthorInfo.id_author)">Yes, delete</button>
              <button type="button" class="btn btn-second ml-3" data-dismiss="modal">No, cancel</button>
            </div>

        </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal custom-modal" id="edit">
    <div class="modal-dialog">
        <div class="modal-content custom-modal-size">

            <!-- Modal Header -->
            <div class="custom-modal-head">
                <h6 class="modal-title">Edit Entry</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="custom-modal-body">
              <span>Author</span>
              <hr style="margin: 5px 0; font-size: 13px;">
              <div class="form-group mb-4">
                <label for="newAuthorFirstName">Author's First Name</label>
                <input type="text" class="form-control" name="firstName" id="newAuthorFirstName"
                [(ngModel)]="selectedAuthorInfo.firstName">
                <label for="newAuthorLastName">Author's Last Name</label>
                <input type="text" class="form-control" name="lastName" id="newAuthorLastName"
                [(ngModel)]="selectedAuthorInfo.lastName">
              </div>
            </div>

            <!-- Modal footer -->
            <div class="custom-modal-footer">
              <button  type="button" class="btn btn-main" data-dismiss="modal" (click)="modifyAuthor(selectedAuthorInfo)">Yes, edit</button>
              <button type="button" class="btn btn-cancel ml-3" data-dismiss="modal">No, cancel</button>
            </div>

        </div>
    </div>
  </div>
