table {
  text-align: center;
}

.user-table {
  font-size: 13px;
  overflow: auto;
  height: 55vh;
  margin: 0 auto;
  width: 85%;
}

.user-pagination {
  overflow: auto;
  margin: 0 auto;
  width: 85%;
}

.nullData {
  font-weight: bold;
  font-style: italic;
}

.userFeeInfo {
  display: flex;
  flex-direction: row;
}

.userInfoLegends {
  display: flex;
  flex-direction: column;
}

.userInfoLegends > span{
  white-space: nowrap;
}

.userInfoValues {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

#search {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 1% 0;
  align-items: center;
  justify-content: center;
}

.user-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-height: 30vh;
  margin-bottom: 1%;
}

.userFeeGroup {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.no-info-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 5%;
}

.no-info-group > h3 {
  margin-top: 30px;
}

#search > div > * {
  margin: 0 !important;
}

#search > div > p {
  margin-right: 2% !important;
}

#search > div > p > button {
  white-space: nowrap;
  border-left: none;
}

#search > div > button {
  width: 80px;
}

#search > div > input {
  height: 38px;
  border-left: none;
  border-right: none;
}

#search > div > select {
  width: 150px;
  border-right: none;
}

.custom-options {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 10px auto 30px;
  max-height: 30vh;
}

h5 {
  text-align: center;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  #search {
    width: 90%;
    flex-wrap: wrap;
    margin-bottom: 35px !important;
  }

  .user-table {
    width: 95%;
    height: 75vh;
  }

  .user-table-group {
    width: 100%;
  }

  .user-options {
    display: flex;
    flex-wrap: wrap;
    max-height: none;
    margin-bottom: 35px;
  }

  .user-pagination {
    flex-wrap: wrap;
  }

  .no-info-group {
    text-align: center;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  .user-table-group {
    width: 100%;
  }

  .user-table {
    width: 95%;
    height: 75vh;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


}

/* Super Long Screens */
@media only screen and (min-height: 769px) {


}
