@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.close {
  font-size: 1em;
}

.custom-modal {
  font-family: 'Noto Sans JP', sans-serif;
}

.custom-modal-size {
  width: 75%;
  margin: 0 auto;
}

ngb-alert {
  font-size: 14px;
}

.custom-modal-head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
}

.custom-modal-body {
  width: 90%;
  margin: 20px auto 0;
  position: relative;
  flex: 1 1 auto;
}

.custom-modal-body > span {
  font-size: 14px;
  color: rgb(175, 180, 199);
}

.custom-modal-body > div > span {
  font-size: 14px;
  color: rgb(175, 180, 199);
}

.custom-modal-body > div > label {
  font-size: 12px;
  color: rgb(118, 118, 118);
  margin-top: 7px;
}

.custom-modal-body > div > div > div > label {
  font-size: 12px;
  color: rgb(118, 118, 118);
  margin-top: 7px;
}

.custom-modal-body > div > div > button > i.fas {
  font-size: 12px;
  color: black;
  margin-top: 5px;
}

.custom-modal-body > div > div > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-body > div > div > label {
  font-size: 12px;
  color: rgb(118, 118, 118);
  margin-top: 7px;
}

.custom-modal-body > div > input {
  font-size: 14px;
}

.custom-modal-body > div > div > div > input {
  font-size: 14px;
}

ng-select {
  font-size: 14px;
}

.custom-modal-body > div > input:focus {
  outline: 0;
  border: solid 1px #4890998f;
  box-shadow: 0 0 0 0.2rem #4890998f;
}

.custom-modal-body > div > div > div > input:focus {
  outline: 0;
  border: solid 1px #4890998f;
  box-shadow: 0 0 0 0.2rem #4890998f;
}

.custom-modal-body > div > label:first-child {
  margin-top: 10px;
}

.custom-modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  background-color: rgb(239, 242, 252);
}

.special-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  background-color: rgb(239, 242, 252);
}

.custom-modal-footer-nb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.custom-modal-footer-nb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.custom-modal-footer > button, .custom-modal-footer-nb > button, .special-footer > div:last-child > button  {
  font-size: 13px;
  padding: 0.375rem 1rem;
}

.special-footer > div:first-child > button  {
  font-size: 13px;
  padding: 0.375rem 1rem 0.375rem 0;
}

.available > div > label {
  padding: 0.47rem 0.75rem;
  font-size: 12px;
}

.required-asterisk {
  color: red;
}

.management-button {
  color: #34558b;
}

.management-button:hover {
  color: #002d5d;
  text-decoration: underline;
}

.custom-modal-body-delete {
  width: 90%;
  margin: 20px auto;
  position: relative;
  flex: 1 1 auto;
}

.custom-modal-body-delete > span {
  font-size: 14px;
}

#outDate {
  font-size: 12px;
  padding: 0.375rem 1rem;
  height: 38px;
  box-shadow: none;
}

#outDate:focus {
  outline: 0;
  border: solid 1px #4890998f;
  box-shadow: 0 0 0 0.2rem #4890998f;
}

.selectToday {
  margin-left: 10px;
  font-size: 12px;
}

#RauthorBook {
  margin-bottom: 20px;
}

.messages {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#feeButton{
  margin-left: 20px;
  white-space: nowrap;
}

.feeAlert{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.book-info-request {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.book-info-request > div {
  display: flex;
  flex-direction: column;
}

.book-info-detail {
  margin-left: 20px;
}

#alerts {
  width: 70%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  display: flex;
}

.main-container {
  margin: 20px auto;
  width: 90%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}

h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.user-table {
  font-size: 13px;
  overflow: auto;
  height: auto;
  margin: 0 auto;
  width: 90%;
}

.user-options {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 10px auto 30px;
  max-height: 30vh;
}

.user-pagination {
  overflow: auto;
  margin: 0 auto;
  width: 90%;
}

#search > div > * {
  margin: 0 !important;
}

#search > div > p {
  margin-right: 2% !important;
}

#search > div > p > button {
  white-space: nowrap;
  border-left: none;
}

#search > div > button {
  width: 80px;
}

#search > div > input {
  height: 38px;
  border-left: none;
  border-right: none;
}

#search > div > select {
  width: 150px;
  border-right: none;
}

.custom-options {
  display: flex;
  flex-direction: row;
}

.book-entry-number {
  display: flex;
  justify-content: space-evenly;
}

.fa-caret-square-down {
  color: #996C48;
  font-size: 22px;
}

.fa-caret-square-down:hover {
  color: #634730;
}

.fa-sign-out-alt {
  color: #6757a8;
  font-size: 22px;
}

.fa-sign-out-alt:hover {
  color: #493d79;
}

#special-edit {
  color: #00865c;
  font-size: 22px;
}

#special-edit:hover {
  color: #004731;
}

.fa-trash {
  color: #ac4c55;
  font-size: 22px;
}

.fa-trash:hover {
  color: #662c32;
}

.btn-x {
  margin: 0 1em;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  #search {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-table {
    width: 95%;
  }

  #user-table-group {
    width: 100%;
  }

  .user-options {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .buttons-search {
    margin-left: none;
    margin: 20px auto;
  }

  .user-pagination {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .btn-x {
    margin: 0 1em 0 0;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  #user-table-group {
    width: 100%;
  }

  .user-table {
    width: 95%;
  }

  .user-options {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .buttons-search {
    margin-left: none;
    margin: 20px auto;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


}

/* Super Long Screens */
@media only screen and (min-height: 769px) {


}
