.selectToday {
  margin-left: 10px;
}

#RauthorBook {
  margin-bottom: 20px;
}

.messages {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#feeButton{
  margin-left: 20px;
  white-space: nowrap;
}

.feeAlert{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.book-info-request {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.book-info-request > div {
  display: flex;
  flex-direction: column;
}

.book-info-detail {
  margin-left: 20px;
}

#alerts {
  width: 70%;
  margin: 0 auto;
}

button:not(#erase-button) {
  font-size: 13px;
}

main {
  margin: 0 auto;
  display: flex;
}

.main-container {
  margin: 20px auto;
  width: 90%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}

h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.user-table {
  font-size: 13px;
  overflow: auto;
  height: auto;
  margin: 0 auto;
  width: 90%;
}

.user-options {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 10px auto 30px;
  max-height: 30vh;
}

.user-pagination {
  overflow: auto;
  margin: 0 auto;
  width: 90%;
}

#search > div > * {
  margin: 0 !important;
}

#search > div > p {
  margin-right: 2% !important;
}

#search > div > p > button {
  white-space: nowrap;
  border-left: none;
}

#search > div > button {
  width: 80px;
}

#search > div > input {
  height: 38px;
  border-left: none;
  border-right: none;
}

#search > div > select {
  width: 150px;
  border-right: none;
}

.custom-options {
  display: flex;
  flex-direction: row;
}

.book-entry-number {
  display: flex;
  justify-content: space-evenly;
}

.p-withMargin {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.book-entry-number > div > label {
  margin-top: 0.5rem;
}

.fa-caret-square-down {
  color: #996C48;
  font-size: 22px;
}

.fa-caret-square-down:hover {
  color: #634730;
}

.fa-sign-out-alt {
  color: #6757a8;
  font-size: 22px;
}

.fa-sign-out-alt:hover {
  color: #493d79;
}

#special-edit {
  color: #00865c;
  font-size: 22px;
}

#special-edit:hover {
  color: #004731;
}

.fa-trash {
  color: #ac4c55;
  font-size: 22px;
}

.fa-trash:hover {
  color: #662c32;
}

.btn-x {
  margin: 0 1em;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  #search {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-table {
    width: 95%;
  }

  #user-table-group {
    width: 100%;
  }

  .user-options {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .buttons-search {
    margin-left: none;
    margin: 20px auto;
  }

  .user-pagination {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .btn-x {
    margin: 0 1em 0 0;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  #user-table-group {
    width: 100%;
  }

  .user-table {
    width: 95%;
  }

  .user-options {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .buttons-search {
    margin-left: none;
    margin: 20px auto;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


}

/* Super Long Screens */
@media only screen and (min-height: 769px) {


}
