.selectToday {
  margin-left: 10px;
}

#RauthorBook {
  margin-bottom: 20px;
}

.messages {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#feeButton{
  margin-left: 20px;
  white-space: nowrap;
}

.feeAlert{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.book-info-request {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.book-info-request > div {
  display: flex;
  flex-direction: column;
}

.book-info-detail {
  margin-left: 20px;
}

#alerts {
  width: 70%;
  margin: 0 auto;
}

button:not(#erase-button) {
  font-size: 13px;
}

.user-table {
  font-size: 13px;
  overflow: auto;
  height: 50vh;
  margin: 0 auto;
  width: 85%;
}

.user-pagination {
  overflow: auto;
  margin: 0 auto;
  width: 85%;
}

ngb-pagination ::ng-deep a {
  color: black !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-color: dimgrey;
  background-color: rgb(254, 189, 105);
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 dimgrey;
}

#search > div > * {
  margin: 0 !important;
  border-radius: 0 !important;
}

#search > div > p {
  margin-right: 2% !important;
}

#search > div > p > button {
  white-space: nowrap;
  border-left: none;
}

#search > div > button {
  width: 80px;
}

#search > div > input {
  height: 38px;
  border-left: none;
  border-right: none;
}

#search > div > select {
  width: 150px;
  border-right: none;
}

.custom-options {
  display: flex;
  flex-direction: row;
}

h5 {
  text-align: center;
}

.book-entry-number {
  display: flex;
  justify-content: space-evenly;
}

.p-withMargin {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.book-entry-number > div > label {
  margin-top: 0.5rem;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  #search {
    width: 90%;
    flex-wrap: wrap;
  }

  .buttons-search > button:first-child {
    margin-bottom: 10px;
  }

  .buttons-search > button:last-child {
    margin-bottom: 15px;
  }

  .user-table {
    width: 95%;
    height: 65vh;
  }

  #user-table-group {
    width: 100%;
  }

  .user-options {
    margin-bottom: 25px;
    max-height: none;
  }

  .user-pagination {
    flex-wrap: wrap;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  #user-table-group {
    width: 100%;
  }

  .user-table {
    width: 95%;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


}

/* Super Long Screens */
@media only screen and (min-height: 769px) {


}
