<main>
  <div class="main-container shadow rounded">
    <h3 class='mt-4'>Book's Information</h3>
    <div class="user-options">
      <div id="search">
        <p class="options">Search By:</p>
        <div class="custom-options">
          <select class="custom-select my-1 mr-sm-2 select-search" id="search-select" name="search" [(ngModel)]="searchOptionCategory">
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="publisher">Publisher</option>
            <option value="genre">Genre</option>
            <option value="id_isbn">ISBN</option>
          </select>
          <input class="form-control mb-2 mr-sm-2 form-control-sm input-search" type="text" [(ngModel)]="searchOptionInfo">
          <button id="erase-button" type="button" class="btn btn-raised btn-search" (click)="clearSearch()"><i class="fas fa-backspace"></i></button>
        </div>
      </div>
      <div class="buttons-search">
        <button *ngIf="userAdmin" type="button" class="btn btn-raised btn-x btn-main" data-toggle="modal" data-target="#newEntry"><i class="fas fa-plus-square"></i> New Book</button>
        <!-- <button type="button" class="btn btn-raised btn-outline-dark" routerLink='/author'><i class="fas fa-user-tie"></i> Author</button>
        <button type="button" class="btn btn-raised btn-outline-dark" routerLink='/genre'><i class="fas fa-book"></i> Genre</button>
        <button type="button" class="btn btn-raised btn-outline-dark" routerLink='/publisher'><i class="fas fa-building"></i> Publisher</button> -->
        <button *ngIf="userAdmin" type="button" class="btn btn-raised btn-enable" (click)="enableEdit()"><i class="fas fa-edit"></i> {{enableMessage}}</button>
      </div>
      <ngb-alert [type]='alertType' class="messages" *ngIf="requestUserAlert" (close)="requestUserAlert = false">{{ requestUserMessage }}</ngb-alert>
      <ngb-alert [type]='alertType' class="messages" *ngIf="requestError" (close)="requestError = false">{{ requestErrorMessage }}</ngb-alert>
      <ngb-alert [type]='alertType' class="messages feeAlert" *ngIf="paymentAlert" (close)="paymentAlert = false">{{ paymentMessage }}</ngb-alert>
      <ngb-alert type='warning' *ngIf="fee" (close)="fee = false" class="messages feeAlert">Fee: {{ feeAmount }}<button id="feeButton" class="btn btn-outline-dark" data-toggle="modal" (click)="payNow()"><i class="fas fa-dollar-sign" style="font-size: 1.2em;"></i> Pay Now </button></ngb-alert>
    </div>
    <div id="user-table-group">
      <div id="alerts">
        <ngb-alert [type]='alertType' class="feeAlert" *ngIf="bookAlert" (close)="bookAlert = false">{{ bookMessage }}</ngb-alert>
      </div>
      <div class="user-table">
        <table id="dtBasicExample" class="table">
          <thead>
            <tr>
              <ng-container *ngFor="let element of tableTitles">
                <th class="th-sm">
                  {{element}}
                </th>
              </ng-container>
              <ng-container *ngIf="userAdmin">
                <th style="white-space: nowrap;" class="th-sm">
                  Deliver w/o/r
                </th>
                <!-- <th class="th-sm">
                  Return
                </th> -->
              </ng-container>
              <th class="th-sm">
                Request
              </th>
              <ng-container *ngIf="userAdmin">
                <ng-container *ngIf="edit">
                  <th class="th-sm">
                    Edit
                  </th>
                  <th class="th-sm">
                    Delete
                  </th>
                </ng-container>
              </ng-container>
            </tr>
          </thead>
          <tbody id="user-info">
            <tr *ngFor="let element of bookArray; let i = index;">
                <td>{{element.title}}</td>
                <td>{{element.authorFirstName}} {{element.authorLastName}}</td>
                <td>{{element.publisher}}</td>
                <td>{{element.genre}}</td>
                <td>{{element.id_isbn}}</td>
                <td>{{element.copy_number}}</td>
                <!-- <ng-container *ngIf="!userAdmin">
                  <td><button class="btn" data-toggle="modal" (click)="selectedBook(element)" data-target="#request"><i class="fas fa-caret-square-down" style="font-size: 1.2em;"></i></button></td>
                </ng-container> -->
                <ng-container *ngIf="userAdmin">
                    <td><button class="btn" data-toggle="modal" (click)="selectedBook(element)" data-target="#deliver"><i class="fas fa-sign-out-alt"></i></button></td>
                    <!-- <td><button class="btn" data-toggle="modal" (click)="selectedBook(element)" data-target="#return"><i class="fas fa-caret-square-up" style="font-size: 1.2em;"></i></button></td> -->
                </ng-container>
                <td><button class="btn" data-toggle="modal" (click)="selectedBook(element)" data-target="#request"><i class="fas fa-caret-square-down"></i></button></td>
                <ng-container *ngIf="userAdmin">
                  <ng-container *ngIf="edit">
                    <td><button class="btn" data-toggle="modal" (click)="selectedBook(element)" data-target="#edit"><i class="fas fa-edit" id="special-edit"></i></button></td>
                    <td><button class="btn" data-toggle="modal" (click)="selectedBook(element)" data-target="#delete"><i class="fas fa-trash"></i></button></td>
                  </ng-container>
                </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between mt-4 user-pagination">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="8">8 items per page</option>
        </select>
      </div>
    </div>
  </div>
</main>

<!-- The Modal -->
<div class="modal" id="request">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Request Book</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are you sure you want to request the book:
            <div class="book-info-request">
              <div>
                <strong>Title:</strong>
                <strong>Author:</strong>
                <strong>Publisher:</strong>
                <strong>Genre:</strong>
                <strong>ISBN:</strong>
              </div>
              <div class="book-info-detail">
                <span>{{selectedBookInfo.title}}</span>
                <span>{{selectedBookInfo.authorLastName}}, {{selectedBookInfo.authorFirstName}}</span>
                <span>{{selectedBookInfo.publisher}}</span>
                <span>{{selectedBookInfo.genre}}</span>
                <span>{{selectedBookInfo.id_isbn}}</span>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" (click)="requestBookUser()" class="btn btn-info" data-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>

      </div>
  </div>
</div>

<!-- The Modal -->
<div #entryModal class="modal" id="newEntry" style="overflow-y: auto;">
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">New Entry</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form name="newEntry" #form="ngForm" (ngSubmit)="postBooks(form)">
                          <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group">
                  <p class="required"><em>Required fields are marked with *</em></p>
                  <label class="my-1 mr-2" for="isbn">*ISBN:</label>
                  <input class="my-1 mr-2" [(ngModel)]="bookSettings.id_isbn" type="number" class="form-control"
                  #isbnField="ngModel"
                  [ngClass]="{'field-error': isbnField.invalid && form.submitted ? true : false}"
                  name="id_isbn" id="isbn" required>
                  <label class="my-1 mr-2" for="title">*Title:</label>
                  <input class="my-1 mr-2" [(ngModel)]="bookSettings.title" class="form-control"
                  #titleField="ngModel"
                  [ngClass]="{'field-error': titleField.invalid && form.submitted ? true : false}"
                  name="title" id="title" required>
                  <div class="label-icon">
                    <label class="my-1 mr-2" for="authorBook">*Author:</label><button type="button" class="btn" data-toggle="modal" data-target="#newAuthor"><i class="fas fa-plus-circle"></i></button>
                  </div>
                  <ng-select bindLabel="author"
                             id="authorBook"
                             class="selected"
                             name="author"
                             #authorField="ngModel"
                             [ngClass]="{'field-error': authorField.invalid && form.submitted ? true : false}"
                             [(ngModel)]="bookSettings.author"
                             placeholder="Choose..."
                             [multiple]="false"
                             [searchable]="true"
                             [clearable]="true"
                             required
                  >
                             <ng-option *ngFor="let element of authors" [value]="element.firstName + '*' + element.lastName">
                              {{element.lastName}}, {{element.firstName}}
                            </ng-option>
                  </ng-select>
                  <div class="label-icon">
                    <label class="my-1 mr-2" for="genreBook">*Genre:</label><button type="button" class="btn" data-toggle="modal" data-target="#newGenre"><i class="fas fa-plus-circle"></i></button>
                  </div>
                  <ng-select bindLabel="genre"
                             id="genreBook"
                             name="genre"
                             class="selected"
                             #genreField="ngModel"
                             [ngClass]="{'field-error': genreField.invalid && form.submitted ? true : false}"
                             [(ngModel)]="bookSettings.genre"
                             placeholder="Choose..."
                             [multiple]="false"
                             [searchable]="true"
                             [clearable]="true"
                             required
                  >
                             <ng-option *ngFor="let element of genre" [value]="element.description_genre">
                              {{element.description_genre}}
                             </ng-option>
                  </ng-select>
                  <div class="label-icon">
                    <label class="my-1 mr-2" for="publisherBook">*Publisher:</label><button type="button" class="btn" data-toggle="modal" data-target="#newPublisher"><i class="fas fa-plus-circle"></i></button>
                  </div>
                  <ng-select bindLabel="publisher"
                             id="publisherBook"
                             name="publisher"
                             class="selected"
                             #publisherField="ngModel"
                             [ngClass]="{'field-error': genreField.invalid && form.submitted ? true : false}"
                             [(ngModel)]="bookSettings.publisher"
                             placeholder="Choose..."
                             [multiple]="false"
                             [searchable]="true"
                             [clearable]="true"
                             required
                  >
                             <ng-option *ngFor="let element of publishers" [value]="element.description_publisher">
                              {{element.description_publisher}}
                             </ng-option>
                  </ng-select>
                  <div class="book-entry-number">
                    <div class="available">
                      <label class="my-1 mr-2">*Available:</label>
                      <div [(ngModel)]="bookSettings.availability" class="btn-group-toggle available-options" ngbRadioGroup name="radioBasic">
                        <label for="bookTrue" ngbButtonLabel class="btn-outline-secondary" style="box-shadow: none;"
                        [class.active]="bookSettings.availability === 'true'">
                          <input name="availability" ngbButton type="radio" value="true" id="bookTrue"> Yes
                        </label>
                        <label for="bookFalse" ngbButtonLabel class="btn-outline-secondary"
                        [class.active]="bookSettings.availability === 'false'">
                          <input name="availability" ngbButton type="radio" value="false" id="bookFalse"> No
                        </label>
                      </div>
                    </div>
                    <div>
                      <label class="my-1 mr-2" for="copyNumber">*Copy Number:</label>
                      <input class="my-1 mr-2" [(ngModel)]="bookSettings.copy_number"
                      #copyField="ngModel"
                      [ngClass]="{'field-error': copyField.invalid && form.submitted ? true : false}"
                      name="copy_number" id="copyNumber" type="number" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="issues alter alert-danger" [hidden]="!form.submitted || form.valid">
                  <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer" >
                <button type="submit" (click)="form.onSubmit(undefined);" class="btn btn-info" [attr.data-dismiss]="form.valid ? 'modal' : null ">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="newAuthor" style="overflow-y: auto;" >
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Author</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form name="newAuthor" #authorForm="ngForm" (ngSubmit)="postAuthor(authorForm)">
                          <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group">
                  <label class="my-1 mr-2" for="registeredAuthor"><strong>Registered Authors:</strong></label>
                  <ng-select bindLabel="author"
                             id="registeredAuthor"
                             name="author"
                             [(ngModel)]="bookSettings.author"
                             placeholder="Search..."
                             [multiple]="false"
                             [searchable]="true"
                             [clearable]="true"
                  >
                             <ng-option *ngFor="let element of authors" [value]="element.firstName + '*' + element.lastName">
                              {{element.lastName}}, {{element.firstName}}
                            </ng-option>
                  </ng-select>
                  <p class="p-withMargin"><strong>New Entry:</strong></p>
                  <label for="newAuthorFirstName">Author's First Name</label>
                  <input type="text" class="form-control" name="firstName" id="newAuthorFirstName"
                  #firstNameField="ngModel"
                  [ngClass]="{'field-error': firstNameField.invalid && authorForm.submitted ? true : false}"
                  [(ngModel)]="postAuthorInfo.firstName" required>
                  <label for="newAuthorLastName">Author's Last Name</label>
                  <input type="text" class="form-control" name="lastName" id="newAuthorLastName"
                  #lastNameField="ngModel"
                  [ngClass]="{'field-error': lastNameField.invalid && authorForm.submitted ? true : false}"
                  [(ngModel)]="postAuthorInfo.lastName" required>
                </div>
                <div class="issues alter alert-danger" [hidden]="!authorForm.submitted || authorForm.valid">
                  <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer special-footer" >
                <div>
                  <button type="button" routerLink="/author" data-dismiss="modal" class="btn btn-link management-button">Manage Author</button>
                </div>
                <div>
                  <button type="submit" (click)="authorForm.onSubmit(undefined);" class="btn btn-secondary" [attr.data-dismiss]="authorForm.valid ? 'modal' : null">Add</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="newGenre" style="overflow-y: auto;" >
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Genre</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form name="newGenre" #genreForm="ngForm" (ngSubmit)="postGenre(genreForm)">
                          <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group">
                  <label class="my-1 mr-2" for="registeredGenre"><strong>Registered Genres:</strong></label>
                  <ng-select bindLabel="genre"
                             id="registeredGenre"
                             name="genre"
                             [(ngModel)]="bookSettings.genre"
                             placeholder="Choose..."
                             [multiple]="false"
                             [searchable]="true"
                             [clearable]="true"
                  >
                             <ng-option *ngFor="let element of genre" [value]="element.description_genre">
                              {{element.description_genre}}
                             </ng-option>
                  </ng-select>
                  <p class="p-withMargin"><strong>New Entry:</strong></p>
                  <label for="newGenreEntry">Genre</label>
                  <input type="text" class="form-control" name="description_genre" id="newGenreEntry"
                  #postGenreField="ngModel"
                  [ngClass]="{'field-error': postGenreField.invalid && genreForm.submitted ? true : false}"
                  required
                  [(ngModel)]="postGenreInfo.description_genre">
                </div>
                <div class="issues alter alert-danger" [hidden]="!genreForm.submitted || genreForm.valid">
                  <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer special-footer">
                <div>
                  <button type="button" routerLink="/genre" class="btn btn-link management-button">Manage Genre</button>
                </div>
                <div>
                  <button type="submit" (click)="genreForm.onSubmit(undefined);" class="btn btn-secondary" [attr.data-dismiss]="genreForm.valid ? 'modal' : null">Add</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="newPublisher" style="overflow-y: auto;" >
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Publisher</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form name="newPublisher" #publisherForm="ngForm" (ngSubmit)="postPublisher(publisherForm)">
                          <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group">
                  <label class="my-1 mr-2" for="registeredPublisher"><strong>Registered Publisher:</strong></label>
                  <ng-select bindLabel="publisher"
                             id="registeredPublisher"
                             name="publisher"
                             [(ngModel)]="bookSettings.publisher"
                             placeholder="Choose..."
                             [multiple]="false"
                             [searchable]="true"
                             [clearable]="true"
                  >
                             <ng-option *ngFor="let element of publishers" [value]="element.description_publisher">
                              {{element.description_publisher}}
                             </ng-option>
                  </ng-select>
                  <p class="p-withMargin"><strong>New Entry:</strong></p>
                  <label for="newPublisherEntry">Publisher</label>
                  <input type="text" class="form-control" name="description_publisher" id="newPublisherEntry"
                  #postPublisherField="ngModel"
                  [ngClass]="{'field-error': postPublisherField.invalid && publisherForm.submitted ? true : false}"
                  required
                  [(ngModel)]="postPublisherInfo.description_publisher">
                </div>
                <div class="issues alter alert-danger" [hidden]="!publisherForm.submitted || publisherForm.valid">
                  <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer special-footer" >
                <div>
                  <button type="button" routerLink="/publisher" class="btn btn-link management-button">Manage Publisher</button>
                </div>
                <div>
                  <button type="submit" (click)="publisherForm.onSubmit(undefined);" class="btn btn-secondary" [attr.data-dismiss]="publisherForm.valid ? 'modal' : null">Add</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="delete">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Delete Book</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              Are you sure you want to delete the book: <br>
              <strong>Title:</strong> {{selectedBookInfo.title}}<br>
              <strong>Author:</strong> {{selectedBookInfo.authorLastName}}, {{selectedBookInfo.authorFirstName}}<br>
              <strong>Publisher:</strong> {{selectedBookInfo.publisher}}
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" (click)="deleteBook(selectedBookInfo.id_isbn)" class="btn btn-danger" data-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          </div>

      </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="edit">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Edit Book</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form name="newGenre" #editForm="ngForm" (ngSubmit)="updateBooks(editForm)">
            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                <label class="my-1 mr-2" for="Eisbn">ISBN:</label>
                <input class="my-1 mr-2" [(ngModel)]="selectedBookInfo.id_isbn" type="number" class="form-control" name="id_isbn" id="Eisbn" disabled>
                <label class="my-1 mr-2" for="editTitle">Title:</label>
                <input class="my-1 mr-2" [(ngModel)]="selectedBookInfo.title" class="form-control" name="title" id="editTitle">
                <div class="label-icon">
                  <label class="my-1 mr-2" for="EauthorBook">Author:</label><button type="button" class="btn" data-toggle="modal" data-target="#newAuthor"><i class="fas fa-plus-circle"></i></button>
                </div>
                <ng-select bindLabel="author"
                           id="EauthorBook"
                           name="author"
                           [(ngModel)]="selectedBookInfo.author"
                           placeholder="Choose..."
                           [multiple]="false"
                           [searchable]="true"
                           [clearable]="true"
                >
                           <ng-option *ngFor="let element of authors" [value]="element.firstName + '*' + element.lastName">
                            {{element.lastName}}, {{element.firstName}}
                          </ng-option>
                </ng-select>
                <div class="label-icon">
                  <label class="my-1 mr-2" for="EgenreBook">Genre:</label><button type="button" class="btn" data-toggle="modal" data-target="#newGenre"><i class="fas fa-plus-circle"></i></button>
                </div>
                <ng-select bindLabel="genre"
                           id="EgenreBook"
                           name="genre"
                           [(ngModel)]="selectedBookInfo.genre"
                           placeholder="Choose..."
                           [multiple]="false"
                           [searchable]="true"
                           [clearable]="true"
                >
                           <ng-option *ngFor="let element of genre" [value]="element.description_genre">
                            {{element.description_genre}}
                           </ng-option>
                </ng-select>
                <div class="label-icon">
                  <label class="my-1 mr-2" for="EpublisherBook">Publisher:</label><button type="button" class="btn" data-toggle="modal" data-target="#newPublisher"><i class="fas fa-plus-circle"></i></button>
                </div>
                <ng-select bindLabel="genre"
                           id="EpublisherBook"
                           name="publisher"
                           [(ngModel)]="selectedBookInfo.publisher"
                           placeholder="Choose..."
                           [multiple]="false"
                           [searchable]="true"
                           [clearable]="true"
                >
                           <ng-option *ngFor="let element of publishers" [value]="element.description_publisher">
                            {{element.description_publisher}}
                           </ng-option>
                </ng-select>
                <div class="book-entry-number">
                  <div class="available">
                    <label class="my-1 mr-2">Available:</label>
                    <div class="btn-group-toggle available-options" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedBookInfo.availability">
                      <label for="editTrue" ngbButtonLabel class="btn-outline-secondary" style="box-shadow: none;" [class.focus]="selectedBookInfo.availability === 'true'">
                        <input name="availability" ngbButton type="radio" value="true" id="editTrue"> Yes
                      </label>
                      <label for="editFalse" ngbButtonLabel class="btn-outline-secondary" [class.focus]="selectedBookInfo.availability === 'false'">
                        <input name="availability" ngbButton type="radio" value="false" id="editFalse"> No
                      </label>
                    </div>
                  </div>
                  <div>
                    <label class="my-1 mr-2" for="EcopyNumber">Copy Number:</label>
                    <input class="my-1 mr-2" [(ngModel)]="selectedBookInfo.copy_number" name="copy_number" id="EcopyNumber" type="number" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button (click)="editForm.onSubmit(undefined)" type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
          </form>
      </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="deliver">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Request Book</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form name="requestBook" #requestForm="ngForm" (ngSubmit)="requestBook(requestForm)">
            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                <label class="my-1 mr-2" for="rTitle">Title:</label>
                <input disabled class="my-1 mr-2" [(ngModel)]="selectedBookInfo.title" class="form-control" name="rtitle" id="rTitle">
                <div class="label-icon">
                  <label class="my-1 mr-2" for="rAuthor">Author:</label>
                </div>
                <ng-select bindLabel="rAuthor"
                           id="rAuthor"
                           name="rAuthor"
                           [(ngModel)]="selectedBookInfo.author"
                           placeholder="Choose..."
                           [multiple]="false"
                           [searchable]="true"
                           [clearable]="true"
                           disabled
                >
                           <ng-option *ngFor="let element of authors" [value]="element.firstName + '*' + element.lastName">
                            {{element.lastName}}, {{element.firstName}}
                          </ng-option>
                </ng-select>
                <label class="my-1 mr-2" for="outDate">Out Date:</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" id="outDate"
                  name="outDate" [(ngModel)]="request.outDate" ngbDatepicker #d="ngbDatepicker" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-primary selectToday" (click)="request.outDate = today">Select Today</button>
                </div>
                <div class="label-icon">
                  <label class="my-1 mr-2" for="rUserEmail">Requested User Email:</label>
                </div>
                <ng-select bindLabel="rUserEmail"
                           id="rUserEmail"
                           name="rUserEmail"
                           [(ngModel)]="request.user"
                           placeholder="Choose..."
                           [multiple]="false"
                           [searchable]="true"
                           [clearable]="true"
                >
                           <ng-option *ngFor="let element of users" [value]="element">
                            {{element.email}}
                          </ng-option>
                </ng-select>
                <div class="book-entry-number">
                  <div>
                    <label class="my-1 mr-2" for="rFullName">Full Name:</label>
                    <input disabled class="my-1 mr-2" [(ngModel)]="userFullName" class="form-control" name="rFullName" id="rFullName">
                  </div>
                  <div>
                    <label class="my-1 mr-2" for="rStatus">Status:</label>
                    <input disabled class="my-1 mr-2" [(ngModel)]="userStatus" class="form-control" name="rStatus" id="rStatus">
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button (click)="requestForm.onSubmit(undefined)" type="submit" class="btn btn-danger" data-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
          </form>
      </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="return">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Return Book</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form name="returnBook" #returnForm="ngForm" (ngSubmit)="returnBook(returnForm)">
            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                <label class="my-1 mr-2" for="returnTitle">Title:</label>
                <input disabled class="my-1 mr-2" [(ngModel)]="selectedBookInfo.title" class="form-control" name="returntitle" id="returnTitle">
                <div class="label-icon">
                  <label class="my-1 mr-2" for="returnAuthor">Author:</label>
                </div>
                <ng-select bindLabel="returnAuthor"
                           id="returnAuthor"
                           name="returnAuthor"
                           [(ngModel)]="selectedBookInfo.author"
                           placeholder="Choose..."
                           [multiple]="false"
                           [searchable]="true"
                           [clearable]="true"
                           disabled
                >
                           <ng-option *ngFor="let element of authors" [value]="element.firstName + '*' + element.lastName">
                            {{element.lastName}}, {{element.firstName}}
                          </ng-option>
                </ng-select>
                <label class="my-1 mr-2" for="returnDate">Return Date:</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" id="returnDate"
                  name="returnDate" [(ngModel)]="returnDate" ngbDatepicker #r="ngbDatepicker" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="r.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-primary selectToday" (click)="returnDate = today">Select Today</button>
                </div>
                <div class="label-icon">
                  <label class="my-1 mr-2" for="returnUserEmail">Returned User Email:</label>
                </div>
                <ng-select bindLabel="returnUserEmail"
                           id="returnUserEmail"
                           name="returnUserEmail"
                           [(ngModel)]="request.user"
                           placeholder="Choose..."
                           [multiple]="false"
                           [searchable]="true"
                           [clearable]="true"
                >
                           <ng-option *ngFor="let element of users" [value]="element">
                            {{element.email}}
                          </ng-option>
                </ng-select>
                <div class="book-entry-number">
                  <div>
                    <label class="my-1 mr-2" for="returnFullName">Full Name:</label>
                    <input disabled class="my-1 mr-2" [(ngModel)]="userFullName" class="form-control" name="returnFullName" id="returnFullName">
                  </div>
                  <div>
                    <label class="my-1 mr-2" for="returnStatus">Status:</label>
                    <input disabled class="my-1 mr-2" [(ngModel)]="userStatus" class="form-control" name="returnStatus" id="returnStatus">
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button (click)="returnForm.onSubmit(undefined)" type="submit" class="btn btn-danger" data-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
          </form>
      </div>
  </div>
</div>


<!-- <div class="book-entry-number">
  <div>
    <label for="EauthorFirstName">Author's First Name</label>
    <input [(ngModel)]="selectedBookInfo.authorFirstName" type="text" class="form-control" name="authorFirstName" id="EauthorFirstName">
  </div>
  <div>
    <label for="EauthorLastName">Author's Last Name</label>
    <input [(ngModel)]="selectedBookInfo.authorLastName" type="text" class="form-control" name="authorLastName" id="EauthorLastName">
  </div>
</div>
<label for="editPublisher">Publisher:</label>
<input [(ngModel)]="selectedBookInfo.publisher" class="form-control" name="publisher" id="editPublisher">
<label for="editTitle">Genre:</label>
<input [(ngModel)]="selectedBookInfo.genre" class="form-control" name="genre" id="editGenre"> -->
