<main>
  <div class="home">
    <div [ngClass]="{'margin-guest': isLogged ? false : true }">
      <ngb-carousel>
        <ng-template ngbSlide>
          <a routerLink="/books">
            <div class="picsum-img-wrapper">
              <img src="./assets/img/itb.png" alt="If It Bleeds Book Cover">
            </div>
            <div class="carousel-caption">
              <h3>New from the world's most trusted storyteller.</h3>
            </div>
          </a>
        </ng-template>
        <ng-template ngbSlide>
          <a routerLink="/books">
            <div class="picsum-img-wrapper">
              <img src="./assets/img/twc.png" alt="The Wind-Up Bird Chronicle Book Cover">
            </div>
            <div class="carousel-caption">
              <h3>"A stunning work of art... that bears no comparisons."</h3>
            </div>
          </a>
        </ng-template>
        <ng-template ngbSlide>
          <a routerLink="/books">
            <div class="picsum-img-wrapper">
              <img src="./assets/img/got.png" alt="Game Of Thrones Book Cover">
            </div>
            <div class="carousel-caption">
              <h3>"A splendid saga: Inventive and intricately plotted."</h3>
            </div>
          </a>
        </ng-template>
        <ng-template ngbSlide>
          <a routerLink="/books">
            <div class="picsum-img-wrapper">
              <img src="./assets/img/tnow.png" alt="The Name Of The Wind Book Cover">
            </div>
            <div class="carousel-caption">
              <h4>"This breathtakingly epic story is masterful in its narrative essence."</h4>
            </div>
          </a>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="main-content" *ngIf="isLogged">
      <div class="card" style="width: 18rem; max-height: 450px;">
        <div class="card-body">
          <h5 id="user-title" class="card-title">Welcome, {{ userInfo.firstName }}</h5>
          <h5 id="statusStyle" class="card-title">Your Status: <em>{{status}}</em></h5>
          <h6 class="card-subtitle mb-2" routerLink="/user-loans">Checkouts</h6>
          <div class="userFeeGroup">
            <div class="userFeeInfo">
              <div class="userInfoLegends">
                <span><i class="fas fa-check-square"></i> Total Items Checked Out:</span>
              </div>
              <div class="userInfoValues">
                <span>{{ checkedItems }}</span>
              </div>
            </div>
          </div>
          <h6 class="card-subtitle mb-2" routerLink="/user-loans">Holds</h6>
          <div class="userFeeGroup">
            <div class="userFeeInfo">
              <div class="userInfoLegends">
                <span><i class="fas fa-book"></i> Total Items on Hold:</span>
              </div>
              <div class="userInfoValues">
                <span>{{ holdedItems }}</span>
              </div>
            </div>
          </div>
          <h6 class="card-subtitle mb-2"  routerLink="/user-fees">Amount Owning</h6>
          <div class="userFeeGroup" id="specialGroup">
            <div class="userFeeInfo">
              <div class="userInfoLegends">
                <span><i class="fas fa-tags"></i> Current Due Items:</span>
                <span><i class="fas fa-money-bill"></i> Total Amount Due:</span>
              </div>
              <div class="userInfoValues">
                <span>{{ dueItems }}</span>
                <span>{{ totalDue | currency}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="everyone-wraper shadow rounded">
    <h2 class="books-header">Everyone's Talking About</h2>
    <div class="featured-books">
      <div class="main-book">
        <a routerLink="/books"><img src="assets/img/institute.jpg" alt="Institute Book Cover"></a>
        <div class="main-book-title">
          <span>Institute</span>
        </div>
        <div class="main-book-author">
          <span>Stephen King</span>
        </div>
        <div class="main-book-description">
          <span>From #1 New York Times bestselling author Stephen King, the most riveting and unforgettable story of kids confronting evil since It</span>
        </div>
      </div>
      <div class="main-book-wraper">
        <div>
          <div id="first-book">
            <a><img src="assets/img/elephant.jpg" alt="The Elephant Vanishes: Stories. Book Cover"></a>
            <div class="book-title">
              <a>The Elephant Vanishes: Stories</a>
            </div>
            <div class="book-author">
              <span>Haruki Murakami</span>
            </div>
          </div>
          <div>
            <a><img src="assets/img/fire.jpg" alt="Fire & Blood: 300 Years Before A Game of Thrones. Book Cover"></a>
            <div class="book-title">
              <a>Fire & Blood</a>
            </div>
            <div class="book-author">
              <span>George R.R. Martin</span>
            </div>
          </div>
          <div>
            <a><img src="assets/img/girl.jpg" alt="The Girl On The Train Book Cover"></a>
            <div class="book-title">
              <a>The Girl On The Train</a>
            </div>
            <div class="book-author">
              <span>Paula Hawkings</span>
            </div>
          </div>
          <div>
            <a><img src="assets/img/kokoro.jpg" alt="Kokoro Book Cover"></a>
            <div class="book-title">
              <a>Kokoro</a>
            </div>
            <div class="book-author">
              <span>Natsume Soseki</span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <a><img src="assets/img/sleep.jpg" alt="Doctor Sleep Book Cover"></a>
            <div class="book-title">
              <a>Doctor Sleep</a>
            </div>
            <div class="book-author">
              <span>Stephen King</span>
            </div>
          </div>
          <div>
            <a><img src="assets/img/kill.jpg" alt="The Kill Order Book Cover"></a>
            <div class="book-title">
              <a>The Kill Order</a>
            </div>
            <div class="book-author">
              <span>James Dashner</span>
            </div>
          </div>
          <div>
            <a><img src="assets/img/martian.jpg" alt="The Martian Book Cover"></a>
            <div class="book-title">
              <a>The Martian</a>
            </div>
            <div class="book-author">
              <span>Andy Weir</span>
            </div>
          </div>
          <div>
            <a><img src="assets/img/unprooted.jpg" alt="Unprooted Book Cover"></a>
            <div class="book-title">
              <a>Unprooted</a>
            </div>
            <div class="book-author">
              <span>Naomi Novik</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

