@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

ngb-carousel {
  margin: 0 auto;
}

.picsum-img-wrapper > img {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picsum-img-wrapper {
  background-color: black;
}

::ng-deep .carousel-item {
  width: 750px;
}

::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
  width: 7%;
}

::ng-deep .carousel-item:first-child > a > .carousel-caption {
  left: 8%;
  right: 52%;
  bottom: 253px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  color: rgb(250, 217, 193);
}

::ng-deep .carousel-item:nth-child(2) > a > .carousel-caption {
  left: 58%;
  right: 5%;
  bottom: 27px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  color: rgb(149, 216, 247);
}

::ng-deep .carousel-item:nth-child(3) > a > .carousel-caption {
  right: 47%;
  left: 10%;
  bottom: 18px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  color: rgb(238, 215, 153);
}

::ng-deep .carousel-item:last-child > a > .carousel-caption {
  left: 46%;
  right: 6%;
  bottom: 77px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  color: rgb(227, 255, 224);
}

::ng-deep .carousel-indicators li{
  border-top: 20px solid transparent;
  height: 4px;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.books-header {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: italic;
  letter-spacing: .5px;
  padding: 30px 0 18px;
}

.everyone-wraper {
  background-color: white;
}

.featured-books {
  display: flex;
  flex-direction: row;
}

.main-book {
  margin: 0 65px 0 0;
  max-width: 300px;
  width: 100%;
  height: auto;
  text-align: center;
}

.main-book > a > img {
  width: 100%;
}

.main-book > a:hover {
  opacity: 0.8;
  outline-color: black;
  outline-style: solid;
  outline-width: 1px;
}

.main-book-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-book-wraper > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-book-wraper > div > div {
  margin: 0 0 42px 26px;
  text-align: left;
  width: 144px;
  display: table;
}

.main-book-wraper > div > div > a > img {
  max-height: 216px;
  max-width: 144px;
}

.main-book-wraper > div > div > a:hover {
  opacity: 0.8;
  outline-color: black;
  outline-style: solid;
  outline-width: 1px;
}

.main-book-title {
  height: 48px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 1.75;
  letter-spacing: .57px;
  text-align: center;
  color: #000;
  margin-top: 5px;
  padding-bottom: 3px;
}

.main-book-author {
  height: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: .43px;
  text-align: center;
  color: #21282d;
  padding-bottom: 3px;
  text-decoration: underline;
}

.main-book-description {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #21282d;
  padding: 15px 5px 19px;
}

.book-title {
  width: 144px;
  height: 36px;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: .57px;
  text-align: center;
  color: #000;
  margin-top: 8px;
  overflow: hidden;
}

.book-author {
  height: 16px;
  padding: 5px 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: .43px;
  text-align: center;
  color: #21282d;
  margin-bottom: 4px;
  text-decoration: underline;
}

.home {
  margin: 5vh auto;
  width: 90%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-content {
  margin: 0 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.userFeeInfo {
  display: flex;
  flex-direction: row;
}

.userInfoLegends {
  display: flex;
  flex-direction: column;
}

.userInfoLegends > span{
  white-space: nowrap;
}

.userInfoValues {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

#search {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 1% 0;
  align-items: center;
  justify-content: center;
}

.user-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-height: 30vh;
  margin-bottom: 1%;
}

.userFeeGroup:not(#specialGroup) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
}

#statusStyle {
  margin-bottom: 1em !important;
}

h6:not(.card-title) {
  background-color: #488F99; /*rgb(11, 114, 133);*/
  padding: 8px;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
}

h6:hover:not(.card-title) {
  text-decoration: underline;
}

.patch-title {
  text-decoration: underline;
}

#user-title {
  background-color: #34558b;
  padding: 8px;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  text-align: justify;
  font-size: 14px;
}

.membersButton {
  font-family: 'Noto Sans', sans-serif;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  height: 45px;
  padding: 3px 7px;
  border-color: black;
  color: black;
  background-color: rgb(254, 189, 105);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.membersButton:hover {
  cursor: pointer;
  background-color:rgb(255, 163, 42);
  color: black;
}

.card {
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2) !important;
}

.card-header {
  padding: 0.5em 0.75em !important;
  background-color: white !important;
  font-size: 16px !important;
}

.card-body {
  padding: 1em 1.2em !important;
}

.margin-guest {
  margin: 5vh auto;
}

@media only screen and (max-width: 420px) {
  .home {
    margin: 0 auto 4vh;
    flex-wrap: wrap-reverse;
  }

  .home > div {
    width: 100%;
  }

  .books-header{
    text-align: center;
  }

  .featured-books {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-book {
    margin: 0 18px 0 7vw;
  }

  .main-content {
    margin: 4vh 0;
  }

  .everyone-wraper {
    margin: 0 4vw 7vh;
    background-color: white;
    padding: 0 20px;
  }

  .main-book-wraper {
    margin-top: 42px;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .main-book-wraper > div {
    width: auto;
    justify-content: center;
  }

  .main-book-wraper > div > div:not(#first-book) {
    margin: 0 0 42px 25px;
  }

  .main-book-wraper > div > #first-book {
    margin: 0 0 42px 0;
  }

  .picsum-img-wrapper > img {
    width: 80%;
    max-width: none;
    margin: 0 auto;
    opacity: 0.9;
  }

  ::ng-deep .carousel-item {
    width: 100%;
  }

  ::ng-deep .carousel-caption > h3 {
    font-size: 1em;
  }

  ::ng-deep .carousel-caption > h4 {
    font-size: 0.8em;
  }

  ::ng-deep .carousel-item:last-child > a > .carousel-caption {
    bottom: -6%;
    letter-spacing: 0px;
    left: 45%;
    right: 13%;
  }

  ::ng-deep .carousel-item:nth-child(2) > a > .carousel-caption {
    letter-spacing: 0px;
  }

  ::ng-deep .carousel-item:nth-child(3) > a > .carousel-caption {
    letter-spacing: 0px;
  }

  ::ng-deep .carousel-item:first-child > a > .carousel-caption {
    bottom: 38%;
    letter-spacing: 0px;
  }

  ::ng-deep .carousel-indicators {
    bottom: -17px;
  }
}

/* Mobile Styles */
@media only screen and (min-width: 421px) and (max-width: 550px) {
  .home {
    margin: 0 auto 4vh;
    flex-wrap: wrap-reverse;
  }

  .home > div {
    width: 100%;
  }

  .books-header{
    text-align: center;
  }

  .featured-books {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-book {
    margin: 0 18px 0 7vw;
  }

  .main-content {
    margin: 4vh 0;
  }

  .everyone-wraper {
    margin: 0 4vw 7vh;
    background-color: white;
    padding: 0 20px;
  }

  .main-book-wraper {
    margin-top: 42px;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .main-book-wraper > div {
    justify-content: center;
  }

  .main-book-wraper > div > div:not(#first-book) {
    margin: 0 0 42px 25px;
  }

  .main-book-wraper > div > #first-book {
    margin: 0 0 42px 0;
  }

  .picsum-img-wrapper > img {
    width: 80%;
    max-width: none;
    margin: 0 auto;
  }

  ::ng-deep .carousel-item {
    width: 100%;
  }

  ::ng-deep .carousel-caption > h3 {
    font-size: 1em;
  }

  ::ng-deep .carousel-caption > h4 {
    font-size: 0.8em;
  }

  ::ng-deep .carousel-item:last-child > a > .carousel-caption {
    bottom: 9%;
    letter-spacing: 0px;
    left: 53%;
    right: 13%;
  }

  ::ng-deep .carousel-item:nth-child(2) > a > .carousel-caption {
    letter-spacing: 0px;
  }

  ::ng-deep .carousel-item:nth-child(3) > a > .carousel-caption {
    letter-spacing: 0px;
  }

  ::ng-deep .carousel-item:first-child > a > .carousel-caption {
    bottom: 53%;
    letter-spacing: 0px;
  }

  ::ng-deep .carousel-indicators {
    bottom: -17px;
  }

}

/* Mid-Tablet Styles */
@media only screen and (min-width: 551px) and (max-width: 874px) {
  .home {
    margin: 0 auto 4vh;
    flex-wrap: wrap-reverse;
  }

  .home > div {
    width: 100%;
  }

  .books-header{
    text-align: center;
  }

  .featured-books {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-book {
    margin: 0 18px 0 7vw;
  }

  .main-content {
    margin: 4vh 0;
  }

  .everyone-wraper {
    margin: 0 4vw 7vh;
    background-color: white;
    padding: 0 20px;
  }

  .main-book-wraper {
    margin-top: 42px;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .main-book-wraper > div {
    justify-content: center;
    width: auto;
  }

  .main-book-wraper > div > div:not(#first-book) {
    margin: 0 0 42px 25px;
  }

  .main-book-wraper > div > #first-book {
    margin: 0 0 42px 0;
  }

  .picsum-img-wrapper > img {
    width: 80%;
    max-width: none;
    margin: 0 auto;
  }

  ::ng-deep .carousel-item {
    width: 100%;
  }

  ::ng-deep .carousel-caption > h3 {
    font-size: 1.2em;
  }

  ::ng-deep .carousel-caption > h4 {
    font-size: 1em;
  }

  ::ng-deep .carousel-item:last-child > a > .carousel-caption {
    bottom: 13%;
  }

  ::ng-deep .carousel-item:first-child > a > .carousel-caption {
    bottom: 53%;
  }

  ::ng-deep .carousel-indicators {
    bottom: -12px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 875px) and (max-width: 1199px) {
  .home {
    margin: 0 auto 4vh;
    flex-wrap: wrap-reverse;
  }

  .main-content {
    margin: 4vh 0;
  }

  .everyone-wraper {
    background-color: white;
    padding: 0 20px;
  }

  .main-book-wraper > div {
    flex-wrap: wrap;
    justify-content: center;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


}

/* Super Long Screens */
@media only screen and (min-height: 769px) {


}
