<main class="container-lg container-fluid my-sm-5">
  <div *ngIf="!isLogged" class="row no-gutters">
    <a class="col-lg-12 library-banner" routerLink="/login"><img class="rounded shadow" id="banner" src="./assets/img/foundation-banner.png" alt="Banner of The Foundation Library"></a>
  </div>
  <div class="row flex-column-reverse flex-xl-row justify-content-between no-gutters" [ngClass]="{'mt-sm-5': !isLogged, 'mt-sm-0 mt-2': isLogged}">
    <div class="col-lg-12 align-items-lg-center" [ngClass]="{'col-xl-8 mt-xl-0 mt-2 mt-sm-5': isLogged, 'col-xl-12': !isLogged}">
      <ngb-carousel>
        <ng-template ngbSlide>
          <a routerLink="/books/9781982137977/isbn">
            <div class="picsum-img-wrapper">
              <img src="./assets/img/itb.png" alt="If It Bleeds Book Cover">
            </div>
          </a>
        </ng-template>
        <ng-template ngbSlide>
          <a routerLink="/books/9780679775430/isbn">
            <div class="picsum-img-wrapper">
              <img src="./assets/img/twc.png" alt="The Wind-Up Bird Chronicle Book Cover">
            </div>
          </a>
        </ng-template>
        <ng-template ngbSlide>
          <a routerLink="/books/9780553381689/isbn">
            <div class="picsum-img-wrapper">
              <img src="./assets/img/got.png" alt="Game Of Thrones Book Cover">
            </div>
          </a>
        </ng-template>
        <ng-template ngbSlide>
          <a routerLink="/books/9780756404741/isbn">
            <div class="picsum-img-wrapper">
              <img src="./assets/img/tnow.png" alt="The Name Of The Wind Book Cover">
            </div>
          </a>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-4 col-xl-3 shadow rounded user-card-group" *ngIf="isLogged">
      <div class="card custom-card">
        <div class="card-body">
          <h5 id="user-title" class="card-title">Welcome, {{ userInfo.firstName }}</h5>
          <h5 id="statusStyle" class="card-title">Your Status: <em>{{status}}</em></h5>
          <h6 class="card-subtitle mb-2" routerLink="/users/loans">Checkouts</h6>
          <div class="userFeeGroup">
            <div class="userFeeInfo">
              <div class="userInfoLegends">
                <span><i class="fas fa-check-square"></i> Total Items Checked Out:</span>
              </div>
              <div class="userInfoValues">
                <span>{{ checkedItems }}</span>
              </div>
            </div>
          </div>
          <h6 class="card-subtitle mb-2" routerLink="/users/loans">Holds</h6>
          <div class="userFeeGroup">
            <div class="userFeeInfo">
              <div class="userInfoLegends">
                <span><i class="fas fa-book"></i> Total Items on Hold:</span>
              </div>
              <div class="userInfoValues">
                <span>{{ holdedItems }}</span>
              </div>
            </div>
          </div>
          <h6 class="card-subtitle mb-2"  routerLink="/users/history">Amount Owning</h6>
          <div class="userFeeGroup" id="specialGroup">
            <div class="userFeeInfo">
              <div class="userInfoLegends">
                <span><i class="fas fa-tags"></i> Current Due Items:</span>
                <span><i class="fas fa-money-bill"></i> Total Amount Due:</span>
              </div>
              <div class="userInfoValues">
                <span>{{ dueItems }}</span>
                <span>{{ totalDue | currency}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row shadow rounded mt-sm-5 everyone-wraper">
    <div class="col-12">
      <h2 class="books-header">Everyone's Talking About</h2>
    </div>
    <div class="featured-books col-12">
      <div class="main-book">
        <a routerLink="/books/{{mainBook.isbn}}/isbn"><img [src]="mainBook.img" [alt]="mainBook.alt"></a>
        <div class="main-book-title">
          <span><a routerLink="/books/{{mainBook.isbn}}/isbn">{{mainBook.title}}</a></span>
        </div>
        <div class="main-book-author">
          <span><a routerLink="/books/{{mainBook.author}}/author">{{mainBook.author}}</a></span>
        </div>
        <div class="main-book-description">
          <span>{{mainBook.description}}</span>
        </div>
      </div>
      <div class="main-book-wraper">
        <div>
          <div id="first-book">
            <a routerLink="/books/{{firstBook.isbn}}/isbn"><img [src]="firstBook.img" [alt]="firstBook.alt"></a>
            <div class="book-title">
              <a routerLink="/books/{{firstBook.isbn}}/isbn">{{firstBook.title}}</a>
            </div>
            <div class="book-author">
              <span><a routerLink="/books/{{firstBook.author}}/author">{{firstBook.author}}</a></span>
            </div>
          </div>
          <div *ngFor="let element of firstFeaturedArr">
            <a routerLink="/books/{{element.isbn}}/isbn"><img [src]="element.img" [alt]="element.alt"></a>
            <div class="book-title">
              <a routerLink="/books/{{element.isbn}}/isbn">{{element.title}}</a>
            </div>
            <div class="book-author">
              <span><a routerLink="/books/{{element.author}}/author">{{element.author}}</a></span>
            </div>
          </div>
        </div>
        <div>
          <div *ngFor="let element of secondFeaturedArr">
            <a routerLink="/books/{{element.isbn}}/isbn"><img [src]="element.img" [alt]="element.alt"></a>
            <div class="book-title">
              <a routerLink="/books/{{element.isbn}}/isbn">{{element.title}}</a>
            </div>
            <div class="book-author">
              <span><a routerLink="/books/{{element.author}}/author">{{element.author}}</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

