<main>
  <div class="user-options">
    <div id="search">
      <p class="options">Search By:</p>
      <div class="custom-options">
        <select class="custom-select my-1 mr-sm-2" id="search-select" name="search" [(ngModel)]="searchOptionCategory">
          <option value="returnedDate">Returned Date</option>
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="feeAmount">Fee Amount</option>
          <option value="payedDate">Payed Date</option>
        </select>
        <input class="form-control mb-2 mr-sm-2 form-control-sm" type="text" [(ngModel)]="searchOptionInfo">
        <button type="button" class="btn btn-raised btn-info" (click)="clearSearch()"><i class="fas fa-backspace"></i></button>
      </div>
    </div>
    <div class="userFeeGroup">
      <div class="userFeeInfo">
        <div class="userInfoLegends">
          <span><i class="fas fa-tags"></i> Current Due Items:</span>
          <span><i class="fas fa-money-bill"></i> Total Amount Due:</span>
        </div>
        <div class="userInfoValues">
          <span>{{ dueItems }}</span>
          <span>{{ totalDue | currency}}</span>
        </div>
      </div>
      <div *ngIf="fee" id="buttonGroup">
        <button id="payNow"  data-toggle="modal" data-target="#pay" type="button">Pay Now</button>
      </div>
    </div>
  </div>
  <h5 class='mb-3'>Fee History</h5>
  <div class="user-table-group">
    <div id="alerts">
      <ngb-alert [type]='alertType' class="feeAlert" *ngIf="paymentAlert" (close)="paymentAlert = false">{{ paymentMessage }}</ngb-alert>
    </div>
    <div>
      <div *ngIf="!activeFee" class="no-info-group">
        <i class="far fa-sad-tear" style="font-size: 10em;"></i>
        <h3>There's no active loan information to display.</h3>
      </div>
      <div *ngIf="activeFee" class="user-table">
        <table id="dtBasicExample" class="table table-striped" width="100%">
          <thead>
            <tr>
              <ng-container *ngFor="let element of tableTitles">
                <th style="white-space: nowrap;" class="th-sm">
                  {{element}}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody id="user-info">
            <tr *ngFor="let element of fees">
              <ng-container>
                <td style="white-space: nowrap;">{{element.returned_day}}</td>
                <td style="white-space: nowrap;">{{element.title}}</td>
                <td style="white-space: nowrap;">{{element.authorFirst}} {{element.authorLast}}</td>
                <td>{{element.fee_amount | currency:'USD' }}</td>
                <td [ngClass]="{'nullData': element.payed_day === null ? true : false}">{{element.payed_day | convertToNoData}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="activeFee" class="d-flex justify-content-between p-2 user-pagination">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="8">8 items per page</option>
        </select>
      </div>
    </div>
  </div>
</main>
  <!-- The Modal -->
<div class="modal" id="pay">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Payment</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body modal-body-custom">
              Make a payment of {{totalDue | currency:"USD"}}
              <div id="payment-methods">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-paypal"></i>
              </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" (click)="payNow()" class="btn btn-info" data-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>

      </div>
  </div>
</div>
