@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
	box-sizing: border-box;
}

main {
	/* background: #f6f5f7; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding: 40px 0;
}

h1 {
	font-weight: bold;
	margin: 0 auto 15px;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #584a94;
	background-color: #584a94;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #ffffff;
}

form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
  width: 100%;
  font-family: FontAwesome, "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

input:focus {
  outline-color: #34558b;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.mobile-form-container {
  background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
  display: none;
	position: relative;
  align-items: center;
  justify-content: center;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
  position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.overlay {
  background:url(https://i.imgur.com/OxcTx49.png), #7A4796;
  background:url(https://i.imgur.com/OxcTx49.png), -webkit-linear-gradient(to right, #7A4796, #954796);
  background:url(https://i.imgur.com/OxcTx49.png), linear-gradient(to right, #7A4796, #954796); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #dddddd;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.input-margin {
  margin-bottom: 20px;
}

.membersIcon {
  width: 50px;
}

.name-input {
  display: flex;
  flex-direction: row;
}

.special-alert {
  max-width: 276.5px;
}

/* Card Flip */

.scene {
  display: none;
}

.card {
  transition: 0.5s;
  transform-style: preserve-3d;
  background-color: rgb(240, 244, 247);
  border-color: rgb(240, 244, 247);
  perspective: 800;
}

.card.is-flipped {
  transform: rotateY(-180deg);
}

.card__face--back {
  transform: rotateY(180deg);
}

.hide-option {
  display: none;
}

.mobile-transition {
  cursor: pointer;
}


/* Mobile Styles */
@media only screen and (max-width: 700px) {
  .container {
    display: none;
  }

  .scene {
    display: flex;
  }

  .mobile-form-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  form {
    margin: 30px 30px 10px 30px;
    padding: 0;
    width: 80%;
  }

  h1 {
    margin: 0 auto 25px;
  }

  .input-margin {
    margin-bottom: 30px;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

main {
  margin: 0 auto;
  display: flex;
}

input, button {
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.home {
  margin: 0 auto;
  width: 90%;
  min-height: calc(100vh - 156px);
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
  justify-content: center;
  background-color: rgb(240, 244, 247);
}

#membersPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 90vh;
  flex-wrap: wrap;
}

#logIn, #signIn {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logIn > div, #signIn > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

#logIn > div > h1, #signIn > div > h1 {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

.logIn, .signIn {
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  width: 300px;
}

.logIn > div, .signIn > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label:not(#imageUpload) {
  font-weight: bold;
}

.logIn > input:not(#specialCheck) {
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  height: 38px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.signIn > input {
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  height: 30px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.logIn > input:focus, .signIn > input:focus {
  outline: none !important;
  border: 1px solid #488F99 !important;
  box-shadow: 0 0 5px #488F99;
}

.membersButton {
  font-family: 'Noto Sans JP', sans-serif;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  height: 45px;
  padding: 3px 7px;
  border-color: black;
  text-transform: uppercase;
  color: white;
  background-color: #488F99;
  margin-top: 10px;
}

.membersButton:hover {
  cursor: pointer;
  background-color:rgb(255, 163, 42);
  color: black;
}

.modifyButtons:hover {
  cursor: pointer;
  background-color:  black;
  color: white;
}

.submitIceButton:hover {
  cursor: pointer;
  border: solid 1px black;
  background-color:rgb(255, 163, 42);
  color: black;
}

#profilePic, .generalIce {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

#specialCheck {
  margin-right: 10px;
} */
