<main>
  <div class="container" id="container" [ngClass]="{ 'right-panel-active': transition ? true : false }">
    <div class="form-container sign-up-container">
      <form name="signIn" class="signIn" #signUpForm="ngForm" (ngSubmit)="newUser(signUpForm)">
        <h1>Create Account</h1>
        <div class="issues alter alert-danger mb-2" [hidden]="!signUpForm.submitted || signUpForm.valid">
          <div *ngIf="!emailField.errors?.pattern">
            <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
          </div>
          <div *ngIf="emailField.errors?.pattern">
            <ng-container *ngIf="firstNameField.invalid || lastNameField.invalid || passwordField.invalid">
              <i class="fas fa-exclamation-circle"></i> Please fill out the required fields. <br>
            </ng-container>
            <i class="fas fa-exclamation-circle"></i> Email not valid.
          </div>
        </div>
        <div class="issues alter alert-danger mb-2" [hidden]="!unsuccessful">
          <i class="fas fa-exclamation-circle"></i> {{serverMessage}}
        </div>
        <div class="issues alter alert-success mb-2" [hidden]="!dataPosted">
          <i class="fas fa-check-circle"></i> The account has been created successfully. Please sign-in.
        </div>
        <div class="name-input">
          <input
            name="firstName"
            id="firstName"
            type="text"
            #firstNameField="ngModel"
            [ngClass]="{'login-error': unsuccessful, 'field-error': signUpForm.submitted && firstNameField.invalid ? true : false}"
            [(ngModel)]="first_name" required
            placeholder='&#xf007;  First Name'
          />
          <input
            class="ml-2"
            name="lastName"
            id="lastName"
            type="text"
            #lastNameField="ngModel"
            [ngClass]="{'login-error': unsuccessful, 'field-error': signUpForm.submitted && lastNameField.invalid ? true : false}"
            [(ngModel)]="last_name" required
            placeholder='&#xf007;  Last Name'
          />
        </div>
        <input
          name="email"
          id="email"
          type="email"
          autocomplete="email"
          #emailField="ngModel"
          [pattern]="emailRegex"
          [ngClass]="{'login-error': unsuccessful, 'field-error': signUpForm.submitted && emailField.invalid ? true : false}"
          [(ngModel)]="emailSign" required
          placeholder='&#xf0e0;  Email'
        />
        <input
          name="passwordSign"
          id="passwordSign"
          type="password"
          #passwordField="ngModel"
          autocomplete="current-password"
          [ngClass]="{'login-error': unsuccessful, 'field-error': signUpForm.submitted && passwordField.invalid ? true : false}"
          [(ngModel)]="pass_sign" required
          class="input-margin"
          placeholder='&#xf023;  Password'
        />
        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form name="logIn" class="logIn" #logInForm="ngForm" (ngSubmit)="check(logInForm)">
        <h1>Sign in</h1>
        <div class="issues alter alert-danger mb-2" [hidden]="!logInForm.submitted || logInForm.valid">
          <div *ngIf="!emailPattern.errors?.pattern">
            <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
         </div>
          <div *ngIf="emailPattern.errors?.pattern">
            <i class="fas fa-exclamation-circle"></i> Email not valid.
         </div>
        </div>
        <div class="issues alter alert-danger mb-2" [hidden]="!messageError">
          <i class="fas fa-exclamation-circle"></i> Email or password is wrong.
        </div>
        <input
          type="email"
          id="user"
          name="user"
          autocomplete="username"
          #emailPattern="ngModel"
          [pattern]="emailRegex"
          [ngClass]="{'login-error': messageError, 'field-error': logInForm.submitted && emailPattern.invalid ? true : false}"
          [(ngModel)]="email" required
          placeholder='&#xf0e0;  Email'
        />
        <input
          type="password"
          id="password"
          name="password"
          #passField="ngModel"
          autocomplete="current-password"
          [ngClass]="{'login-error': messageError, 'field-error': logInForm.submitted && passField.invalid ? true : false}"
          [(ngModel)]="pass" required
          class="input-margin"
          placeholder='&#xf023;  Password'
        />
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>Please sign in to continue your journey with us</p>
          <button class="ghost" id="signIn" (click)="transitionOn()">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>New to The Foundation?</h1>
          <p>Join us and start your journey to the world of books</p>
          <button class="ghost" id="signUp" (click)="transitionOn()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>


  <div class="scene">
    <div class="card" [ngClass]="{ 'is-flipped': mobileTransitionVal ? true : false }">
      <div class="card__face card__face--front" [ngClass]="{ 'hide-option': mobileTransitionVal ? true : false }">
        <div class="mobile-form-container">
          <form name="mobile-logIn" class="logIn" #mobileLogInForm="ngForm" (ngSubmit)="check(mobileLogInForm)">
            <h1>Sign in</h1>
            <div class="issues alter alert-danger mb-2" [hidden]="!mobileLogInForm.submitted || mobileLogInForm.valid">
              <div *ngIf="!mobileEmailPattern.errors?.pattern">
                <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
             </div>
              <div *ngIf="mobileEmailPattern.errors?.pattern">
                <i class="fas fa-exclamation-circle"></i> Email not valid.
             </div>
            </div>
            <div class="issues alter alert-danger mb-2" [hidden]="!messageError">
              <i class="fas fa-exclamation-circle"></i> Email or password is wrong.
            </div>
            <input
              type="email"
              id="mobile-user"
              name="mobile-user"
              autocomplete="username"
              #mobileEmailPattern="ngModel"
              [pattern]="emailRegex"
              [ngClass]="{'login-error': messageError, 'field-error': mobileLogInForm.submitted && mobileEmailPattern.invalid ? true : false}"
              [(ngModel)]="email" required
              placeholder='&#xf0e0;  Email'
            />
            <input
              type="password"
              id="mobile-password"
              name="mobile-password"
              #mobilePassField="ngModel"
              autocomplete="current-password"
              [ngClass]="{'login-error': messageError, 'field-error': mobileLogInForm.submitted && mobilePassField.invalid ? true : false}"
              [(ngModel)]="pass" required
              class="input-margin"
              placeholder='&#xf023;  Password'
            />
            <button type="submit">Sign In</button>
            <a class="mobile-transition" (click)="mobileTransition()">New to The Foundation? <span class="special-span">Create your account.</span></a>
          </form>
        </div>
      </div>
      <div class="card__face card__face--back" [ngClass]="{ 'hide-option': mobileTransitionVal ? false : true }">
        <div class="mobile-form-container">
          <form name="mobile-sign-up" class="signIn" #mobileSignUpForm="ngForm" (ngSubmit)="newUser(mobileSignUpForm)">
            <h1>Create Account</h1>
            <div class="issues alter alert-danger mb-2" [hidden]="!mobileSignUpForm.submitted || mobileSignUpForm.valid">
              <div *ngIf="!mobileEmailField.errors?.pattern">
                <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
              </div>
              <div *ngIf="mobileEmailField.errors?.pattern">
                <ng-container *ngIf="mobileFirstNameField.invalid || mobileLastNameField.invalid || mobilePasswordField.invalid">
                  <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
                </ng-container>
                <i class="fas fa-exclamation-circle"></i> Email not valid.
              </div>
            </div>
            <div class="issues alter alert-danger mb-2" [hidden]="!unsuccessful">
              <i class="fas fa-exclamation-circle"></i> {{serverMessage}}
            </div>
            <div class="issues alter alert-success mb-2 special-alert" [hidden]="!dataPosted">
              <i class="fas fa-check-circle"></i> The account has been created successfully. <span class="special-span"> <a class="mobile-transition" (click)="mobileTransition()">Please sign-in.</a></span>
            </div>
            <input
              name="mobileFirstName"
              id="mobileFirstName"
              type="text"
              #mobileFirstNameField="ngModel"
              [ngClass]="{'login-error': unsuccessful, 'field-error': mobileSignUpForm.submitted && mobileFirstNameField.invalid ? true : false}"
              [(ngModel)]="first_name" required
              placeholder='&#xf007;  First Name'
            />
            <input
              name="mobileLastName"
              id="mobileLastName"
              type="text"
              #mobileLastNameField="ngModel"
              [ngClass]="{'login-error': unsuccessful, 'field-error': mobileSignUpForm.submitted && mobileLastNameField.invalid ? true : false}"
              [(ngModel)]="last_name" required
              placeholder='&#xf007;  Last Name'
            />
            <input
              name="mobileEmail"
              id="mobileEmail"
              type="email"
              autocomplete="email"
              #mobileEmailField="ngModel"
              [pattern]="emailRegex"
              [ngClass]="{'login-error': unsuccessful, 'field-error': mobileSignUpForm.submitted && mobileEmailField.invalid ? true : false}"
              [(ngModel)]="emailSign" required
              placeholder='&#xf0e0;  Email'
            />
            <input
              name="mobilePasswordSign"
              id="mobilePasswordSign"
              type="password"
              #mobilePasswordField="ngModel"
              autocomplete="current-password"
              [ngClass]="{'login-error': unsuccessful, 'field-error': mobileSignUpForm.submitted && mobilePasswordField.invalid ? true : false}"
              [(ngModel)]="pass_sign" required
              class="input-margin"
              placeholder='&#xf023;  Password'
            />
            <button type="submit">Sign Up</button>
            <a class="mobile-transition" (click)="mobileTransition()">Already have an account? <br> <span class="special-span">Please sign in.</span></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- <main>
  <div class="home">
    <div id="logIn">
        <div>
        <img class="membersIcon" src="assets/img/logIn.svg" alt="Log In icon">
        <h2>LOG-IN</h2>
        </div>
        <form name="logIn" class="logIn" #logInForm="ngForm" (ngSubmit)="check(logInForm)">
            <label for="user"><i class="fas fa-envelope"></i> Email*</label>
            <input type="email" id="user" name="user"
            autocomplete="username"
            #emailPattern="ngModel"
            [pattern]="emailRegex"
            [ngClass]="{'login-error': messageError, 'field-error': logInForm.submitted && emailPattern.invalid ? true : false}"
            [(ngModel)]="email" required>
            <label for="password"><i class="fas fa-lock"></i> Password*</label>
            <input type="password" id="password" name="password"
            #passField="ngModel"
            autocomplete="current-password"
            [ngClass]="{'login-error': messageError, 'field-error': logInForm.submitted && passField.invalid ? true : false}"
            [(ngModel)]="pass" required>

            <button class="membersButton" type="submit" (click)="logInForm.onSubmit(undefined)">Continue</button>
        </form>
    </div>
    <div id="signIn">
        <div>
        <img class="membersIcon" src="assets/img/profile.svg" alt="Profile Icon">
        <h2>SIGN-UP</h2>
        </div>
        <form name="signIn" class="signIn" #signUpForm="ngForm" (ngSubmit)="newUser(signUpForm)">
          <label for="firstName"><i class="fas fa-user"></i> First name*</label>
          <input name="firstName" id="firstName" type="text"
          #firstNameField="ngModel"
          [ngClass]="{'login-error': unsuccessful, 'field-error': signUpForm.submitted && firstNameField.invalid ? true : false}"
          [(ngModel)]="first_name" required>
          <label for="lastName"><i class="fas fa-user"></i> Last name*</label>
          <input name="lastName" id="lastName" type="text"
          #lastNameField="ngModel"
          [ngClass]="{'login-error': unsuccessful, 'field-error': signUpForm.submitted && lastNameField.invalid ? true : false}"
          [(ngModel)]="last_name" required>
          <label for="phoneNumber"><i class="fas fa-phone-alt"></i> Phone Number*</label>
          <input name="phoneNumber" id="phoneNumber" type="number"
          #phoneField="ngModel"
          [ngClass]="{'login-error': unsuccessful, 'field-error': signUpForm.submitted && phoneField.invalid ? true : false}"
          [(ngModel)]="phone_number" required>
          <label for="email"><i class="fas fa-envelope"></i> Email*</label>
          <input name="email" id="email" type="email"
          autocomplete="username"
          #emailField="ngModel"
          [pattern]="emailRegex"
          [ngClass]="{'login-error': unsuccessful, 'field-error': signUpForm.submitted && emailField.invalid ? true : false}"
          [(ngModel)]="emailSign"required>
          <label for="passwordSign"><i class="fas fa-lock"></i> Password*</label>
          <input name="passwordSign" id="passwordSign" type="password"
          #passwordField="ngModel"
          autocomplete="current-password"
          [ngClass]="{'login-error': unsuccessful, 'field-error': signUpForm.submitted && passwordField.invalid ? true : false}"
          [(ngModel)]="pass_sign" required>
          <button class="membersButton" type="submit">Create your Foundation account</button>
        </form>
    </div>
  </div>
</main> -->
