<main>
  <div class="container" id="container" [ngClass]="{ 'right-panel-active': transition ? true : false }">
    <div class="form-container sign-up-container">
      <form [formGroup]="signUpForm" class="signIn" #newSignUpForm="ngForm" (ngSubmit)="newUser(signUpForm)">
        <h2 id="sign-up-title">Create Account</h2>
        <span class="issues alter alert-danger mb-2"
          *ngIf="newSignUpForm.submitted && !signUpForm.valid"
          [hidden]="(signUpForm.get('email').errors?.pattern && emailErrorStatus) || signUpForm.get('passwordGroup').errors?.match && passErrorStatus"
        >
          <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
        </span>
        <span class="issues alter alert-danger mb-2" *ngIf="signUpForm.get('email').errors?.pattern && emailErrorStatus">
          <i class="fas fa-exclamation-circle"></i> Please enter a valid email address.
        </span>
        <span class="issues alter alert-danger mb-2" *ngIf="signUpForm.get('passwordGroup').errors?.match && passErrorStatus">
          <i class="fas fa-exclamation-circle"></i> The confirm password doesn't match.
        </span>
        <span class="issues alter alert-danger mb-2" [hidden]="!unsuccessful">
          <i class="fas fa-exclamation-circle"></i> {{serverMessage}}
        </span>
        <span class="issues alter alert-success mb-2" [hidden]="!dataPosted">
          <i class="fas fa-check-circle"></i> The account has been created successfully. Please sign-in.
        </span>
        <div class="name-input">
          <input
            formControlName="first_name"
            id="firstName"
            type="text"
            [ngClass]="{'field-error':  newSignUpForm.submitted && signUpForm.get('first_name').invalid ? true : false}"
            placeholder='&#xf007;  First Name'
          />
          <input
            formControlName="last_name"
            class="ml-2"
            id="lastName"
            type="text"
            [ngClass]="{'field-error': newSignUpForm.submitted && signUpForm.get('last_name').invalid ? true : false}"
            placeholder='&#xf007;  Last Name'
          />
        </div>
        <input
          formControlName="email"
          id="email"
          type="email"
          autocomplete="email"
          [ngClass]="{
            'login-error': unsuccessful,
            'field-error': (newSignUpForm.submitted && signUpForm.get('email').invalid) ? true : false,
            'field-error2': (signUpForm.get('email').value && signUpForm.get('email').invalid && emailErrorStatus) ? true : false
          }"
          placeholder='&#xf0e0;  Email'
        />
        <div formGroupName="passwordGroup">
            <input
              formControlName="password"
              [attr.type]="hidden ? 'text' : 'password'"
              id="passwordSign"
              type="password"
              autocomplete="current-password"
              [ngClass]="{
                'field-error': (newSignUpForm.submitted && signUpForm.get('passwordGroup.password').invalid) ? true : false,
                'field-error2': (signUpForm.get('passwordGroup.password').value && signUpForm.get('passwordGroup').invalid && passErrorStatus) ? true : false
                }"
              placeholder='&#xf023;  Password'
            />
            <input
              formControlName="repeatPassword"
              [attr.type]="hidden ? 'text' : 'password'"
              id="repeatPasswordSign"
              type="password"
              autocomplete="current-password"
              [ngClass]="{
                'field-error': (newSignUpForm.submitted && signUpForm.get('passwordGroup.repeatPassword').invalid) ? true : false,
                'field-error2': (signUpForm.get('passwordGroup.repeatPassword').value && signUpForm.get('passwordGroup').invalid && passErrorStatus) ? true : false
              }"
              placeholder='&#xf023;  Repeat Password'
            />
            <div (click)="togglePass()" class="view-full input-margin"><i [ngClass]="hidden ? 'fas fa-eye-slash' : 'fas fa-eye'"></i><span class="view-full-span ml-1">{{togglePassMessage}}</span></div>
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form name="logIn" class="logIn" #logInForm="ngForm" (ngSubmit)="check(logInForm)">
        <h1>Sign in</h1>
        <div class="issues alter alert-danger mb-2" [hidden]="!logInForm.submitted || logInForm.valid">
          <div *ngIf="!emailPattern.errors?.pattern">
            <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
          </div>
          <div *ngIf="emailPattern.errors?.pattern">
            <i class="fas fa-exclamation-circle"></i> Email not valid.
          </div>
        </div>
        <div class="issues alter alert-danger mb-2" [hidden]="!messageError">
          <i class="fas fa-exclamation-circle"></i> Email or password is wrong.
        </div>
        <input
          type="email"
          id="user"
          name="user"
          autocomplete="username"
          #emailPattern="ngModel"
          [pattern]="emailRegex"
          [ngClass]="{'login-error': messageError, 'field-error': logInForm.submitted && emailPattern.invalid ? true : false}"
          [(ngModel)]="email" required
          placeholder='&#xf0e0;  Email'
        />
        <input
          [attr.type]="hidden ? 'text' : 'password'"
          id="password"
          name="password"
          #passField="ngModel"
          autocomplete="current-password"
          [ngClass]="{'login-error': messageError, 'field-error': logInForm.submitted && passField.invalid ? true : false}"
          [(ngModel)]="pass" required
          class="input-margin"
          placeholder='&#xf023;  Password'
        />
        <div class="toggle-div">
          <div (click)="togglePass()" class="view-full input-margin"><i [ngClass]="hidden ? 'fas fa-eye-slash' : 'fas fa-eye'"></i><span class="view-full-span ml-1">{{togglePassMessage}}</span></div>
        </div>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>Please sign in to continue your journey with us</p>
          <button class="ghost" id="signIn" (click)="transitionOn()">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>New to The Foundation?</h1>
          <p>Join us and start your journey to the world of books</p>
          <button class="ghost" id="signUp" (click)="transitionOn()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>


  <div class="scene">
    <div class="card" [ngClass]="{ 'is-flipped': mobileTransitionVal ? true : false }">
      <div class="card__face card__face--front" [ngClass]="{ 'hide-option': mobileTransitionVal ? true : false }">
        <div class="mobile-form-container">
          <form name="mobile-logIn" class="mobile-form" #mobileLogInForm="ngForm" (ngSubmit)="check(mobileLogInForm)">
            <h1>Sign in</h1>
            <div class="issues alter alert-danger mb-2" [hidden]="!mobileLogInForm.submitted || mobileLogInForm.valid">
              <div *ngIf="!mobileEmailPattern.errors?.pattern">
                <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
              </div>
              <div *ngIf="mobileEmailPattern.errors?.pattern">
                <i class="fas fa-exclamation-circle"></i> Email not valid.
              </div>
            </div>
            <div class="issues alter alert-danger mb-2" [hidden]="!messageError">
              <i class="fas fa-exclamation-circle"></i> Email or password is wrong.
            </div>
            <input
              type="email"
              id="mobile-user"
              name="mobile-user"
              autocomplete="username"
              #mobileEmailPattern="ngModel"
              [pattern]="emailRegex"
              [ngClass]="{'login-error': messageError, 'field-error': mobileLogInForm.submitted && mobileEmailPattern.invalid ? true : false}"
              [(ngModel)]="email" required
              placeholder='&#xf0e0;  Email'
            />
            <input
              type="password"
              [attr.type]="hidden ? 'text' : 'password'"
              id="mobile-password"
              name="mobile-password"
              #mobilePassField="ngModel"
              autocomplete="current-password"
              [ngClass]="{'login-error': messageError, 'field-error': mobileLogInForm.submitted && mobilePassField.invalid ? true : false}"
              [(ngModel)]="pass" required
              class="input-margin"
              placeholder='&#xf023;  Password'
            />
            <div class="toggle-div">
              <div (click)="togglePass()" class="view-full input-margin"><i [ngClass]="hidden ? 'fas fa-eye-slash' : 'fas fa-eye'"></i><span class="view-full-span ml-1">{{togglePassMessage}}</span></div>
            </div>
            <button type="submit">Sign In</button>
            <a class="mobile-transition" (click)="mobileTransition()">New to The Foundation? <span class="special-span">Create your account.</span></a>
          </form>
        </div>
      </div>
      <div class="card__face card__face--back" [ngClass]="{ 'hide-option': mobileTransitionVal ? false : true }">
        <div class="mobile-form-container">
          <form [formGroup]="mobileSignUpForm" class="mobile-form" #newMobileSignUpForm="ngForm" (ngSubmit)="newUser(mobileSignUpForm)">
            <h2 class="mb-4" id="sign-up-title">Create Account</h2>
            <span class="mobile-span issues alter alert-danger my-2"
              *ngIf="newMobileSignUpForm.submitted && !mobileSignUpForm.valid"
              [hidden]="(mobileSignUpForm.get('email').errors?.pattern && emailErrorStatus) || mobileSignUpForm.get('passwordGroup').errors?.match && passErrorStatus"
            >
              <i class="fas fa-exclamation-circle"></i> Please fill out the required fields.
            </span>
            <span class="mobile-span issues alter alert-danger my-2" *ngIf="mobileSignUpForm.get('email').errors?.pattern && emailErrorStatus">
              <i class="fas fa-exclamation-circle"></i> Please enter a valid email address.
            </span>
            <span class="mobile-span issues alter alert-danger my-2" *ngIf="mobileSignUpForm.get('passwordGroup').errors?.match && passErrorStatus">
              <i class="fas fa-exclamation-circle"></i> The confirm password doesn't match.
            </span>
            <span class="mobile-span issues alter alert-danger my-2" [hidden]="!unsuccessful">
              <i class="fas fa-exclamation-circle"></i> {{serverMessage}}
            </span>
            <span class="mobile-span issues alter alert-success my-2" [hidden]="!dataPosted">
              <i class="fas fa-check-circle"></i> The account has been created successfully. Please sign-in.
            </span>
            <div class="mobile-name-input">
              <input
                formControlName="first_name"
                id="mobileFirstName"
                type="text"
                [ngClass]="{'field-error':  newMobileSignUpForm.submitted && mobileSignUpForm.get('first_name').invalid ? true : false}"
                placeholder='&#xf007;  First Name'
              />
              <input
                formControlName="last_name"
                id="mobileLastName"
                type="text"
                [ngClass]="{'field-error': newMobileSignUpForm.submitted && mobileSignUpForm.get('last_name').invalid ? true : false}"
                placeholder='&#xf007;  Last Name'
              />
            </div>
            <input
              formControlName="email"
              id="mobileEmail"
              type="email"
              autocomplete="email"
              [ngClass]="{
                'login-error': unsuccessful,
                'field-error': (newMobileSignUpForm.submitted && mobileSignUpForm.get('email').invalid) ? true : false,
                'field-error2': (mobileSignUpForm.get('email').value && mobileSignUpForm.get('email').invalid && emailErrorStatus) ? true : false
              }"
              placeholder='&#xf0e0;  Email'
            />
            <div formGroupName="passwordGroup" class="mobile-pass-group">
              <input
                [attr.type]="hidden ? 'text' : 'password'"
                formControlName="password"
                id="mobilePasswordSign"
                type="password"
                autocomplete="current-password"
                [ngClass]="{
                  'field-error': (newMobileSignUpForm.submitted && mobileSignUpForm.get('passwordGroup.password').invalid) ? true : false,
                  'field-error2': (mobileSignUpForm.get('passwordGroup.password').value && mobileSignUpForm.get('passwordGroup').invalid && passErrorStatus) ? true : false
                  }"
                placeholder='&#xf023;  Password'
              />
              <input
                [attr.type]="hidden ? 'text' : 'password'"
                formControlName="repeatPassword"
                id="mobileRepeatPasswordSign"
                class="input-margin"
                type="password"
                autocomplete="current-password"
                [ngClass]="{
                  'field-error': (newMobileSignUpForm.submitted && mobileSignUpForm.get('passwordGroup.repeatPassword').invalid) ? true : false,
                  'field-error2': (mobileSignUpForm.get('passwordGroup.repeatPassword').value && mobileSignUpForm.get('passwordGroup').invalid && passErrorStatus) ? true : false
                }"
                placeholder='&#xf023;  Repeat Password'
              />
              <div (click)="togglePass()" class="view-full input-margin"><i [ngClass]="hidden ? 'fas fa-eye-slash' : 'fas fa-eye'"></i><span class="view-full-span ml-1">{{togglePassMessage}}</span></div>
            </div>
            <button type="submit">Sign Up</button>
            <a class="mobile-transition" (click)="mobileTransition()">Already have an account? <br> <span class="special-span">Please sign in.</span></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
