@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

main {
  margin: 3vh 0;
  min-height: 77vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-shrink: 0;
}

#membersPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 90vh;
  flex-wrap: wrap;
}

#logIn, #signIn {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logIn > div, #signIn > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

#logIn > div > h1, #signIn > div > h1 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.membersIcon {
  width: 50px;
}

.logIn, .signIn {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  width: 300px;
}

.logIn > div, .signIn > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label:not(#imageUpload) {
  font-weight: bold;
}

.logIn > input:not(#specialCheck) {
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  height: 38px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.signIn > input {
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  height: 30px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.logIn > input:focus, .signIn > input:focus {
  outline: none !important;
  border: 1px solid rgb(2, 163, 136);
  box-shadow: 0 0 5px rgb(2, 163, 136);
}

.membersButton {
  font-family: 'Noto Sans', sans-serif;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  height: 45px;
  padding: 3px 7px;
  border-color: black;
  text-transform: uppercase;
  color: black;
  background-color: rgb(254, 189, 105);
  margin-top: 10px;
}

.membersButton:hover {
  cursor: pointer;
  background-color:rgb(255, 163, 42);
  color: black;
}

.modifyButtons:hover {
  cursor: pointer;
  background-color:  black;
  color: white;
}

.submitIceButton:hover {
  cursor: pointer;
  border: solid 1px black;
  background-color:rgb(255, 163, 42);
  color: black;
}

#profilePic, .generalIce {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

#specialCheck {
  margin-right: 10px;
}
