@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

#pageName {
  font-family: 'Raleway', sans-serif;
}

#user-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-group-name {
  margin-left: 5px;
}

.user-group-text {
  color: white !important;
}

.user-info-detail {
  margin: 0 0 0 10px;
}

#navigation {
  display: flex;
  flex-direction: row;
}

#navigation > li {
  display: flex;
  flex-direction: row;
}

#nav-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.custom-nav-bc {
  background-color: #002d5d;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .query-navigation {
    flex-direction: column !important;
  }

  #user-group {
    display: flex;
    justify-content: space-between !important;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  .query-navigation {
    flex-direction: column !important;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


}

/* Super Long Screens */
@media only screen and (min-height: 769px) {


}
