<nav class="navbar navbar-expand-lg navbar-dark custom-nav-bc">
  <a class="navbar-brand" routerLink="/home" id="pageName">THE FOUNDATION</a>
  <button *ngIf="isUserExpired" class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="isUserExpired" class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul id="nav-group" class="navbar-nav mr-auto">
      <div id="navigation">
        <li class="nav-item query-navigation">
          <a routerLink="/home" routerLinkActive="active" style="cursor: pointer;" class="nav-link" (click)="isCollapsed = true">Home</a>
          <a *ngIf="userAdmin" routerLink="/students" routerLinkActive="active"
          style="cursor: pointer;" class="nav-link" (click)="isCollapsed = true">Users</a>
          <a routerLink="/books" routerLinkActive="active" style="cursor: pointer;"
          class="nav-link" (click)="isCollapsed = true">Books</a>
          <a *ngIf="userAdmin" class="col nav-link" routerLinkActive="active" style="cursor: pointer;">
            <div ngbDropdown class="d-inline-block">
              <a ngbDropdownToggle>Loans</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button routerLink="/loans" (click)="isCollapsed = true" ngbDropdownItem>Active Loans</button>
                <button routerLink="/history-loans" (click)="isCollapsed = true" ngbDropdownItem>History</button>
              </div>
            </div>
          </a>
          <a routerLink="/reports" routerLinkActive="active" style="cursor: pointer;" (click)="isCollapsed = true" class="nav-link">Trending</a>
        </li>
      </div>
      <div id="user-group">
        <div>
          <a class="col nav-link user-group-text" style="cursor: pointer;">
            <div ngbDropdown class="d-inline-block">
              <ng-container *ngIf="userAdmin">
                <i class="fas fa-user-cog"></i>
              </ng-container>
              <ng-container *ngIf="!userAdmin">
                <i class="fas fa-user"></i>
              </ng-container>
              <a ngbDropdownToggle class="user-group-name">{{userInfo.firstName}} {{userInfo.lastName}}</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem routerLink="/user-loans" (click)="isCollapsed = true">My Loans</button>
                <button ngbDropdownItem routerLink="/user-fees" (click)="isCollapsed = true">My Fees</button>
              </div>
            </div>
          </a>
        </div>
        <li class="nav-item">
          <a style="cursor: pointer" class="nav-link" (click)="logOut()" (click)="isCollapsed = true">Log Out</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
