@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.close {
  font-size: 1em;
}

.custom-modal {
  font-family: 'Noto Sans JP', sans-serif;
}

.custom-modal-size {
  width: 75%;
  margin: 0 auto;
}

ngb-alert {
  font-size: 14px;
}

.custom-modal-head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
}

.custom-modal-body {
  width: 90%;
  margin: 20px auto 0;
  position: relative;
  flex: 1 1 auto;
}

.custom-modal-body-delete {
  width: 90%;
  margin: 20px auto;
  position: relative;
  flex: 1 1 auto;
}

.custom-modal-body-delete > span {
  font-size: 14px;
}

.custom-modal-body > span {
  font-size: 14px;
  color: rgb(175, 180, 199);
}

.custom-modal-body > div > label {
  font-size: 12px;
  color: rgb(118, 118, 118);
  margin-top: 10px;
}

.custom-modal-body > div > input {
  font-size: 14px;
}

.custom-modal-body > div > input:focus {
  outline: 0;
  border: solid 1px #4890998f;
  box-shadow: 0 0 0 0.2rem #4890998f;
}

.custom-modal-body > div > label:first-child {
  margin-top: 10px;
}

.custom-modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  background-color: rgb(239, 242, 252);
}

.custom-modal-footer-nb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.custom-modal-footer > button, .custom-modal-footer-nb > button  {
  font-size: 13px;
  padding: 0.375rem 1rem;
}

.name-group {
  display: flex;
  flex-direction: row;
}

.name-group > div > label {
  font-size: 12px;
  color: rgb(118, 118, 118);
  margin-top: 10px;
}

.name-group > div > input {
  font-size: 14px;
}

.name-group > div > div > label {
  font-size: 13px;
  width: 50%;
}

.name-group > div > input:focus {
  outline: 0;
  border: solid 1px #4890998f;
  box-shadow: 0 0 0 0.2rem #4890998f;
}

.name-group-size {
  width: 50%;
}

.available-student > div > label {
  padding: 0.47rem 0.75rem;
  font-size: 12px;
}

.required-asterisk {
  color: red;
}

table {
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

main {
  margin: 0 auto;
  display: flex;
}

.main-container {
  margin: 20px auto;
  width: 90%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}

#feeButton {
  margin-left: 40px;
  white-space: nowrap;
  font-size: 13px;
}

.feeAlert{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 15px;
}

#alerts {
  width: 70%;
  margin: 0 auto;
}

.user-table {
  font-size: 13px;
  overflow: auto;
  height: auto;
  margin: 0 auto;
  width: 85%;
}

.fee-body {
  max-height: 50vh;
  overflow: auto;
}

.special-footer {
  display: flex;
  justify-content: space-between;
}

.modal-body-custom {
  text-align: center;
}

.modal-body-custom > span{
  color: rgb(118, 118, 118);
  font-size: 14px;
}

#payment-methods > i {
  font-size: 3em;
  margin: 15px;
}

.user-pagination {
  overflow: auto;
  margin: 0 auto;
  width: 85%;
}

h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.user-options {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 10px auto 30px;
  max-height: 30vh;
}

.buttons-search-student > button {
  font-size: 13px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#search > div > * {
  margin: 0 !important;
}

#search > div > p {
  margin-right: 2% !important;
}

#search > div > p, #search-select > button {
  white-space: nowrap;
  border-left: none;
}

#search > div >button {
  width: 80px;
}

#search > div > input {
  height: 38px;
  border-left: none;
  border-right: none;
}

#search > div > select {
  width: 150px;
  border-right: none;
}

.custom-options {
  display: flex;
  flex-direction: row;
}

.fa-credit-card {
  color: #6757a8;
  font-size: 22px;
}

.fa-credit-card:hover {
  color: #493d79;
}

#special-edit {
  color: #00865c;
  font-size: 22px;
}

#special-edit:hover {
  color: #004731;
}

.fa-trash {
  color: #ac4c55;
  font-size: 22px;
}

.fa-trash:hover {
  color: #662c32;
}

.btn-x {
  margin: 0 1em;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  #search {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-table {
    width: 95%;
  }

  #user-table-group {
    width: 100%;
  }

  .user-options {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .buttons-search-student {
    margin-left: none;
    margin: 20px auto;
  }

  .user-pagination {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .btn-x {
    margin: 0 1em 0 0;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  #user-table-group {
    width: 100%;
  }

  .user-table {
    width: 95%;
  }

  .user-options {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .buttons-search-student {
    margin-left: none;
    margin: 20px auto;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


}

/* Super Long Screens */
@media only screen and (min-height: 769px) {


}
