/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: 'Noto Sans', sans-serif !important;
}

.btn-enable {
  background-color: #34558b;
  border-color: #34558b;
  color: white;
}

.btn-enable:hover {
  background-color: #002d5d;
  color: white;
}

.btn-cancel {
  background-color: #994859;
  border-color: #994859;
  color: white;
}

.btn-cancel:hover {
  background-color: #64303b;
  color: white;
}

.select-search {
  border-radius: 5px 0 0 5px;
}

.input-search {
  border-radius: 0;
}

.btn-search {
  border-radius: 0 5px 5px 0;
  background-color: #488F99;
  color: white;
}

.btn-search:hover {
  background-color: #3b737c;
  color: white;
}

.btn-main {
  background-color: #584a94;
  color: #FFF;
}

.btn-main:hover {
  background-color: #292266;
  color: #FFF;
}

.pagination > li > a {
  color: black;
}

.pagination > li > a:hover {
  border-color: #6C4899;
  background-color: #6C4899;
  color: white;
}

.pagination > li.active > a.page-link {
  border-color: #8776c4;
  background-color: #8776c4;
  color: white;
}

thead {
  background-color: #4f699e;
  color: white;
  letter-spacing: 1px;
}

/* main:not(.home) {
  margin: 3vh 0;
  min-height: 77vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

.table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

#search-options {
  display: flex;
  justify-content: space-around;
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons-search, .buttons-search-student {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.buttons-search > button {
  font-size: 13px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#drop {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
}

.form-filter {
  height: auto;
  padding: 8px;
  border: 1px solid #e3e3e3;
  margin: 10px 15px 10px 15px;
  border-radius: 6px;
}

.management-button {
  padding-left: 0;
}

.options {
  margin: 0 10px 0 0;
  white-space: nowrap;
}

.label-icon {
  display: flex !important;
  align-items: center !important;
}

.label-icon > button {
  padding: 0 !important;
}

.ng-invalid:not(form):not(#newAuthorFirstName):not(#newAuthorLastName):not(#newGenreEntry):not(#newPublisherEntry):not(#user):not(#password):not(#firstName):not(#lastName):not(#phoneNumber):not(#email):not(#passwordSign).ng-touched:not(.selected) {
  border: 1.5px solid red;
  border-radius: 4px;
}

.ng-invalid:not(form).ng-touched > .ng-select-container {
  border: 1.5px solid red;
  border-radius: 4px;
}

.field-error, .login-error {
  border: 1.5px solid red !important;
  border-radius: 4px !important;
}

.issues {
  border-radius: 4px;
  text-align: center;
}

.required {
  margin: 0;
}
