@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.close {
  font-size: 1em;
}

.custom-modal {
  font-family: 'Noto Sans JP', sans-serif;
}

.custom-modal-size {
  width: 75%;
  margin: 0 auto;
}

.custom-modal-head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
}

.custom-modal-footer-nb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.custom-modal-footer-nb > button {
  font-size: 13px;
  padding: 0.375rem 1rem;
}

.custom-modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  background-color: rgb(239, 242, 252);
}

.custom-modal-footer > button {
  font-size: 13px;
  padding: 0.375rem 1rem;
}

.custom-modal-body-delete {
  width: 90%;
  margin: 20px auto;
  position: relative;
  flex: 1 1 auto;
}

.custom-modal-body-delete > span {
  font-size: 14px;
}

table {
  text-align: center;
}

main {
  margin: 0 auto;
  display: flex;
}

.main-container {
  margin: 20px auto;
  width: 90%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}

h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.loan-table {
  font-size: 13px;
  overflow: auto;
  height: auto;
  margin: 0 auto;
  width: 85%;
}

a {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

a:not(.active-style){
  color: rgb(156, 156, 156);
}

.active-style {
  font-family: 'Raleway', sans-serif;
}

td {
  vertical-align: middle !important;
}

.loan-options {
  width: 85%;
  max-height: 30vh;
  margin: 2% auto 0.5%;
}

.user-pagination {
  margin: 0.5% auto;
  width: 85%;
}

.loan-tabs {
  width: 85%;
  margin: 0 auto;
}

.alert {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-padding {
  padding-bottom: 0;
}

.alertCustom {
  margin: 0 auto !important;
}

#feeWarning {
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.modal-body-custom {
  text-align: center;
}

.modal-body-custom > span{
  color: rgb(118, 118, 118);
  font-size: 14px;
}

#payment-methods > i {
  font-size: 3em;
  margin: 15px;
}

#feeButton {
  padding: 5px 30px;
  margin-left: 10%;
}

.no-info-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: auto;
  margin: 90px auto;
}

.no-info-group > h3 {
  margin-top: 30px;
}

#search > div > * {
  margin: 0 !important;
}

#search > div > p {
  margin-right: 2% !important;
}

#search > div > p > button {
  white-space: nowrap;
  border-left: none;
}

#search > div > button {
  width: 80px;
}

#search > div > input {
  height: 38px;
  border-left: none;
  border-right: none;
}

#search > div > select {
  width: 150px;
  border-right: none;
}

.custom-options {
  display: flex;
  flex-direction: row;
}

.fa-caret-square-down, .fa-caret-square-up {
  color: #996C48;
  font-size: 22px;
}

.fa-caret-square-down:hover, .fa-caret-square-up:hover {
  color: #634730;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  #search {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .custom-options {
    width: 100%;
  }

  .user-table-group {
    width: 100%;
  }

  .user-options {
    margin-bottom: 25px;
    max-height: none;
  }

  .user-pagination {
    flex-wrap: wrap;
    margin: 5% auto;
  }

  .no-info-group {
    text-align: center;
  }

  .loan-table {
    width: 90%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {

  .loan-options {
    width: 90%;
  }

  .user-table-group {
    width: 100%;
  }

  .loan-table {
    width: 90%;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


}

/* Super Long Screens */
@media only screen and (min-height: 769px) {


}
